[2016-10-27 22:13] Fred-Barclay opened #1 "Uncaught ReferenceError: Termination is not defined"
[Enter steps to reproduce below:]

1. Start Atom
2. Try to open a termination window.

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: LMDE 2
**Thrown From**: [Termination](https://github.com/Fred-Barclay/Termination) package, v0.1.0

### Stack Trace

Uncaught ReferenceError: Termination is not defined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[co

[2016-10-27 23:06] Fred-Barclay opened #2 "Uncaught TypeError: Cannot read property 'split' of undefined"
[Enter steps to reproduce below:]

1. Start Atom
2. Try to open termination

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: LMDE 2
**Thrown From**: [Termination](https://github.com/Fred-Barclay/Termination) package, v0.1.2

### Stack Trace

Uncaught TypeError: Cannot read property 'split' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[co

[2016-10-28 06:51] mannyhagman opened #3 "Uncaught TypeError: Cannot read property 'maximize' of null"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.11.6
**Thrown From**: [Termination](https://github.com/Fred-Barclay/Termination) package, v0.1.4
### Stack Trace

Uncaught TypeError: Cannot read property 'maximize' of null

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-10-28 14:56] Fred-Barclay commented on #3
Thanks for the bug! (Should I really be *thanking* you for a bug? :stuck_out_tongue_winking_eye: ) I'm afraid I'm horrid with coffescript so it might take a while to get this straightened out.

[2016-10-28 18:54] mannyhagman commented on #3
No worries! I basically just clicked on the error window in atom and it automatically created the issue. Good luck with the coffee script!

[2016-10-29 22:32] Fred-Barclay commented on #1
Did not intend to close this

[2016-10-29 22:34] Fred-Barclay commented on #3
@mannyhagman: I've got a potential fix in on a "dummy" Atom package. Could you install faketerm2 in Atom and let me know if it works?

[2016-10-30 04:39] mannyhagman commented on #3
Yes for sure. I'll update you soon.

[2016-10-30 06:23] mannyhagman commented on #3
@Fred-Barclay
Wow. fakeTerm2 is awesome. So far the best terminal package I have used on Atom.
![screen shot 2016-10-30 at 12 37 38 am](https://cloud.githubusercontent.com/assets/7909800/19834846/5f507cfe-9e3f-11e6-9fe9-7cdb205b31d9.png)

[2016-10-30 07:04] mannyhagman commented on #3
![image](https://cloud.githubusercontent.com/assets/7909800/19834974/db52f89a-9e44-11e6-8792-597969a408c4.png)

[2016-10-30 15:44] Fred-Barclay commented on #3
Great! I'll be getting a fix in as soon as possible, then. You may see some weird stuff going on with termination or faketerm2 - just ignore it and **don't** update! :smile: I'll comment back here once the situation has stabilised.

[2016-10-30 16:51] Fred-Barclay commented on #2
Closed by c67b20b2993033103e482055edae96070a2d419e

[2016-10-30 16:51] #2 closed

[2016-10-30 16:51] Fred-Barclay commented on #1
Closed by c67b20b2993033103e482055edae96070a2d419e

[2016-10-30 16:51] #1 closed

[2016-10-30 16:53] Fred-Barclay commented on #3
Alright, hopefully termination is fixed. :tada: :  You'll need to completely uninstall it (if you haven't already) since I've reset the version numbers.

[2016-10-30 21:39] steakknife opened #4 "1.12 beta5 broken"
[code]

[2016-10-30 21:44] Fred-Barclay commented on #4
I was afraid of that. I'll take a look but my javascript probably isn't good enough to fix this so we'll likely wait and see what the platformio devs do and act accordingly. :smile:

Thanks for the report!

[2016-10-30 22:05] steakknife commented on #4
No worries, I hope to we have more terminal options and you seem to have the most modern fork.

[2016-10-30 22:07] steakknife commented on #4
You're probably on the right track, it's probably related to outdated pty.js but I could be wrong. It's the same error in other forks.

[2016-10-30 22:15] steakknife commented on #4
See also https://github.com/jeremyramin/terminal-plus/pull/364 might help.

[2016-10-30 22:17] Fred-Barclay commented on #4
Thanks mate. I'll take a look at it. :smile:

[2016-10-31 03:18] Fred-Barclay commented on #4
I've got a potential fix in. Could you install `faketerm2` in Atom Beta (disable/uninstall termination first and restart Atom or you'll get a cosmetic warning) and see if it works? If so I'll work on getting the code merged here. If not... we'll probably have to wait and see what PlatformIO does.

Cheers!
Fred

[2016-10-31 20:02] mannyhagman commented on #3
Thanks Fred, I'll be able to do that a bit later today and let you know what he results are.

[2016-11-01 03:49] steakknife commented on #4
faketerm2 works, jeremyramin/terminal-plus works

[2016-11-01 04:10] Fred-Barclay commented on #4
Does it really? I can't get faketerm2 to work (I installed Atom Beta to test) - I get a compile error. Can you walk me through what you do, your environment, etc?

This looks promising: https://github.com/jeremyramin/terminal-plus/issues/362#issuecomment-256290818

[2016-11-01 04:11] Fred-Barclay commented on #3
Sounds good. Let me know when you find out (plus any suggestions, etc.) :smile:

[2016-11-01 04:19] steakknife commented on #4
[code]
(Be sure to `rm -rf ~/.atom; mv ~/.atom.save ~/.atom`)

[2016-11-01 04:23] Fred-Barclay commented on #4
Thanks - will look into it. Since you can install faketerm2, I suspect that my trouble might be because I have both Atom and Atom Beta installed on my system (so two versions of electron?). The error messages would support this interpretation.

What OS are you using?

[2016-11-01 04:25] steakknife commented on #4
macOS. I removed atom stable because they do step on each other (not fully isolated, share `~/.atom`) Plus, you MUST rename `Atom Beta.app` to `Atom-Beta.app` and [patch atom.sh to support finding itself.](https://github.com/atom/atom/pull/13042)

[2016-11-01 05:52] Fred-Barclay commented on #4
Yup - that was the trouble. Removed Atom and reinstalled Atom Beta and faketerm2 works.

I do my dev and testing work with faketerm2 so I'll probably break it in a few days. I could merge the current faketerm2 code into a new package (maybe termination-beta or something) if you want so you could use that until Atom 1.12 is stable and I apply the changes to termination. Is that something that could

[2016-11-01 16:57] Fred-Barclay commented on #4
Update: working code pushed to the [termination-beta branch](https://github.com/Fred-Barclay/Termination/tree/termination-beta). I'll merge it into master once Atom 1.12 becomes stable.

[2016-11-06 16:58] Fred-Barclay commented on #4
I believe that we're now fully compatible with Atom 1.11 *and* Atom 1.12-beta. https://github.com/Fred-Barclay/Termination/commit/0b057744c441ad46b65dc9ef9edb065bd67f2275 @steakknife can you verify?

[2016-11-07 09:06] blcarson opened #8 "No issue, just wanted to say thanks!"
After the let down that was terminal-plus, and the buggy follow up that was platformio, I was relieved to find your fork that solved not one but ALL of my lingering issues. Kudos and many, many thanks!

[2016-11-07 13:47] Fred-Barclay commented on #8
Thanks mate! :smile:

[2016-11-07 13:55] #3 closed

[2016-11-07 21:43] #8 closed

[2016-11-09 11:15] steakknife commented on #4
Works!

[2016-11-09 11:15] #4 closed

[2016-11-09 11:21] steakknife opened #9 "How to fix key repeat on macOS"
Right now, this happens in most all terminal-plus forks I've tried (not in the editor, obviously).

Hold <kbd>e</kbd> key... should get a bunch of e's.

![img](http://content.screencast.com/users/xzxzxzxx/folders/Jing/media/681d66a9-8dd3-491b-8010-88314dd8fdbf/00000063.png)

Disabling `ApplePressAndHoldEnabled` is not an option.

[2016-11-09 16:17] Fred-Barclay commented on #4
Yahoo - thanks for opening the original bug and for testing! :smile:

[2016-11-09 16:22] Fred-Barclay commented on #9
Hmmm... so you should get a string of e's  but instead you get that popup with different options for the e character?
That's odd. I don't have a Mac and it does not occur in Linux so I may not be able to find the root cause, but I will take a look at it.

Question: does/did it occur in terminal-plus itself, or only in the forks that you've tried?

[2016-11-09 19:57] steakknife commented on #9
macOS only. Happens on all terminals I've tried that work on 1.12 beta.

There must be a CSS property or function call which turns off accent mode input mode because the editor works property while panels don't (at least by default).

[code]

[2016-11-09 20:13] steakknife commented on #9
Found it https://github.com/atom/atom/blob/master/src/text-editor-component.coffee#L253

[2016-11-09 20:16] steakknife commented on #9
Basically, adding three event listeners somewhere to workaround it.

[2016-11-09 22:27] steakknife commented on #9
Trying on 1.12.0 stable, it should be the same.

[2016-11-10 02:32] steakknife commented on #9
Related [SO answer about how to fix it in JS](https://stackoverflow.com/questions/381795/how-to-disable-right-click-context-menu-in-javascript)

[2016-11-10 16:50] Fred-Barclay commented on #9
I wonder if something like this would work?
[code]
Trouble is I don't have a mac and I'm not sure how to integrate this, or if it would override https://github.com/atom/atom/blob/master/src/text-editor-component.coffee#L253

Thoughts?

[2016-11-14 17:29] jwogrady opened #11 "Unable to open file or directory from terminal"
Thanks for all your work on this....

I'm unable to open a file or folder from a termination shell.

[code]
Everything works as expected if I run the commands outside of Atom in a standalone shell.

#### Using
- macOS Sierra v 10.12.1
- Atom 1.12.2
- termination 0.3.2

[2016-11-14 19:23] steakknife commented on #9
Might work

os.platform() == "darwin"

On Thu, Nov 10, 2016 at 8:50 AM Fred Barclay <notifications@github.com>
wrote:

[2016-11-14 19:31] steakknife commented on #9
The trick is to change the selection area in webkit to cancel the menu, so
the user never sees it. This is what the text editor does, but Termination
view is based on a completely different view than the text editor IIRC.
On Mon, Nov 14, 2016 at 11:22 AM Barry Allard <barry.allard@gmail.com>
wrote:

[2016-11-14 19:33] steakknife commented on #9
BTW: Level of effort to just prototype from an editor view, which already
has the right behavior?
On Mon, Nov 14, 2016 at 11:30 AM Barry Allard <barry.allard@gmail.com>
wrote:

[2016-11-14 21:24] Fred-Barclay commented on #11
Hmmm... I see that too in Linux. I'll investigate it - thanks!

For reference, this is the Linux output:
[code]

[2016-11-14 21:39] Fred-Barclay commented on #11
@jwogrady Can you see if the same behavior occurs with platformio-ide-terminal? That will help narrow down the search a lot.
If it is occurring with platformio-ide-terminal, could you open an issue on their page as well (but **don't** close this one!). They know their code the best, and while I'll definitely keep trying to track this down it would help to have another set of eyes looking at the pr

[2016-11-15 18:25] Fred-Barclay commented on #9
If you want to try this from your end, please do! If you get it fixed please send in a pull request and I'll be sure to merge it in. There's just not really anything I can do on my end without a Mac to test with. :cry:  If it were a cross-platform bug it would be different, but I have no way of knowing if my changes would work or not or if I could be breaking something else.

[2016-11-15 21:56] steakknife commented on #9
You contributed nothing but forking and expect everyone else to maintain your code. That doesn't help. I maintain Linux, Windows and macOS VMs, and you should too. Otherwise just say "Windows only" and few people will ever use this fork.

[2016-11-15 21:56] #9 closed

[2016-11-16 00:38] Fred-Barclay commented on #9
I'm sorry you feel that way. I'm not willing to use a hackintosh since it is not legal. Hard work indeed makes a project unique, and I am not going to steal the hard work of the unique and talented programmers at Apple. (Context note: I am not a Mac fanboy and I've never owned any Apple product.)

I'm not willing to commit changes that aren't tested/I have no way of knowing how they work or if the

[2016-11-18 03:19] chrisallenmoore commented on #11
I'm getting the same error as @jwogrady. What's interesting is that I had a Java update right before I had this problem. Could the two be related?

[2016-11-18 03:22] jwogrady commented on #11
@Fred-Barclay platformio-ide-terminal didn't seem to make a diffeerence.

@chrisallenmoore what Java version are you using?  Mine is as follows:

java version "1.7.0_79"
Java(TM) SE Runtime Environment (build 1.7.0_79-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.79-b02, mixed mode)

[2016-11-18 05:04] Fred-Barclay commented on #11
@chrisallenmoore What OS are you using?
If it's a *nix, then what shell?

I haven't figured out the **why** yet, but for some reason termination (and platformio-ide-terminal, and possibly terminal-plus) replaces `atom` with `node` or `nodejs`.

[2016-11-18 05:07] chrisallenmoore commented on #11
macOS Sierra
Version 10.12.2 Beta (16C48b)

[2016-11-18 17:17] Fred-Barclay commented on #11
chrisallenmoore: thanks. :+1: What shell do you use?

[2016-11-18 17:52] Fred-Barclay commented on #11
Update: there's a similar issue https://github.com/platformio/platformio-atom-ide-terminal/issues/106 so I'll keep an eye on that as well.

@jwogrady What happens when you open the developer console (`ctrl+shift+i` though it might be `cmd+shift+i` for Mac) and run `atom <some-file>`? I get nothing on Linux but was wondering if there might be some output for Mac.

[2016-11-18 19:46] mc-funk opened #12 "Status bar loses file path and cursor position when Termination active"
I just installed Termination this morning and had to de-activate it because of the following:

When Termination is installed and active, the file name and cursor position disappear from the status bar. I could not find anything in the settings that would allow me to impact this.
<img width="1126" alt="screen shot 2016-11-18 at 1 22 32 pm" src="https://cloud.githubusercontent.com/assets/10001418/20

[2016-11-18 20:02] Fred-Barclay commented on #12
Hi mc-funk. That's sort of an accidental feature. :laughing: I didn't mean to code it in initially, but I liked it once I figured out what was going on. The file name and cursor position are actually still there, but you have to hover over the status bar and scroll down to see them, then scroll back up to return to the terminal. I'd kept this because I liked having almost all of the status bar dev

[2016-11-18 20:18] mc-funk commented on #12
Oh, fantastic, that checkbox got me where I needed to be. Thanks so much for the prompt response! I have been having terminal-plus heartache with it not working and didn't want to deal with it -- ( and I also like the ctrl + ` keymapping a lot better than overwriting the cmd + shift + t undo-close-tab behavior, as other packages do!  ... So, awesome. Thanks again!

[2016-11-18 20:20] Fred-Barclay commented on #12
No worries. Thank **you!**

[2016-11-18 20:20] #12 closed

[2016-11-19 00:54] chrisallenmoore commented on #11
I use the standard Mac terminal. Atom will open from there, but not in Termination.

[2016-11-19 23:35] ddavidebor opened #13 "Failed to activate the termination package"
# dump:

**Atom Version**: 1.12.4
**Electron Version**: 1.3.9
**System**: Mac OS X 10.12.1
**Thrown From**: [termination](https://github.com/Fred-Barclay/Termination) package, v0.3.3

### Stack Trace

Failed to activate the termination package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-19 23:36] ddavidebor commented on #13
Uninstalling other terminal packages does not help

[2016-11-20 00:10] Fred-Barclay commented on #13
It's a cosmetic bug. I've gotten the same message when I uninstall/deactivate platformio-ide-terminal and install/activate termination without restarting Atom. These two packages share a code snippet that's causing the trouble. `termination` works just fine, though, if you restart Atom and doesn't produce any more warnings.

Try this:
Activate termination (if you've deactivated it)
See if it gives

[2016-11-20 00:15] ddavidebor commented on #13
Yes that was the problem.
(but for now it does not work, empty terminal.. will get back to you later)

[2016-11-20 00:15] #13 closed

[2016-11-20 00:19] Fred-Barclay commented on #13
No worries - thanks for the report! I'm sending in a fix in a few minutes.

[2016-11-21 05:56] Fred-Barclay commented on #11
What happens if you run `sudo atom <some-command>`?

[2016-11-21 13:14] Traverse opened #14 "Status bar seems off/wrong"
Hi

I just noticed something small on the bottom left of the status bar:

![statusbar](https://cloud.githubusercontent.com/assets/7240988/20483797/4f67ea18-aff4-11e6-8083-926d96c0fc9d.png)

There's some text down there and I have no clue what it is. The only thing I know is that it's happening only with this package enabled.

Also I'm not sure if it's intended or not but Termination's status bar d

[2016-11-21 17:07] Fred-Barclay commented on #14
Hi @Traverse. That text is probably the cursor position (the `somefile Number:Number`  notice). You can check if this is the case by hovering over the status bar and scrolling down. To return to Termination's status bar, simply hover over the status bar again and scroll up.
(Side note: that's probably the cause of the termination's status bar disappearing sometimes - you might have inadvertently s

[2016-11-22 12:00] chrisallenmoore commented on #11
@Fred-Barclay that works. hmmm

[2016-11-24 19:27] Fred-Barclay commented on #11
Temporary workaround: go to the settings for termination and set `unset ELECTRON_RUN_AS_NODE` to run on terminal initialisation.

[2016-11-25 17:26] #14 closed

[2016-11-30 05:36] lukekhamilton opened #15 "zsh support"
This package isnt picking up my default login shell of zsh. Is there a way to config/fix this?

[2016-11-30 05:38] lukekhamilton commented on #15
void that. Just found it. Thanks for a great package!

[2016-11-30 05:38] #15 closed

[2016-11-30 14:34] Fred-Barclay commented on #15
You're welcome mate. @jeremyamin and @platformio did most of the heavy lifting so kudos to them as well. :smile:

[2016-12-01 15:32] jwogrady commented on #11
Sweet, thanks for the workaround!

Just to follow up, the atom debug/console running on Mac didn't give me any output to share.  [This ancient article related to PHPStorm](http://moazzam-khan.com/blog/tag/lsopenurlswithrole-failed-with-error-10658-for-the-file-applicationsphpstorm-app/) suggests a java versioning issue.

Your workaround shows a little output on mac every time I open a new instance

[2016-12-01 16:34] Fred-Barclay commented on #11
Thanks mate! I'm still working on a permanent fix but at least I now know this workaround is good for both Linux and Mac. :+1:
I believe the offending code is this (in Atom): https://github.com/atom/atom/blob/master/src/buffered-node-process.js#L40
`options.env.ELECTRON_RUN_AS_NODE = 1`

So I'm working on how to undo that **without** breaking Atom in any way.

[2016-12-27 18:06] AnkitApurv opened #16 "scrolling ability"
ability to scroll through the terminal window to see previous command history, that would make this package awesome

[2016-12-27 18:07] AnkitApurv commented on #16
i would be happy to help in this regard too

[2016-12-27 18:24] Fred-Barclay commented on #16
Hi @AnkitApurv :smile:

What OS are you using?
I can scroll through the terminal and see my history from the time I opened the terminal (though not my history from previous terminal sessions). In Linux and macOS as well, you should be able to hit the up arrow key and see your previous commands. I'll see if I can make a GIF/video of what I mean.

[2016-12-27 19:34] AnkitApurv commented on #16
Hi, thanks for getting back so quickly :~)

I'm using Windows 10 build 14393(anniversary) x64
Atom 1.12.7

It does not show any scrollbar

It defaults to powershell in which if I press pageup, previous text progressively disappear(weird, I'l make a video later)
I changed it to command prompt(cmd) in which pageup/pagedown had no effect

[2016-12-27 19:46] Fred-Barclay commented on #16
@AnkitApurv I've got a Windows box at work - I'll check it and see if I can duplicate this. Thanks for the report, and please send that video. :)

[2016-12-29 18:30] AnkitApurv commented on #16
I've made the videos, they are on this link.
[https://1drv.ms/f/s!AobQnTtzCVMBlI539E2FkxGEOKlSew](url)

[2016-12-30 00:13] Fred-Barclay commented on #16
Hmmm... that's odd. I can't duplicate it on Windows 7 but I see what you're talking about. So when you scroll in Power Shell, your text disappears. It looks like cmd behaves properly??? (BTW: there is no scroll bar in termination but you should still be able to scroll up and down.)

Can you do me a favour - try copying your Atom config folder (it should be `.atom` in your home folder) to a backup

[2017-01-01 05:18] pmbenjamin opened #17 "Forking your repo"
@Fred-Barclay, I'm having difficulty forking your repo because I already have forked [platformio/platformio-atom-ide-terminal](https://github.com/platformio/platformio-atom-ide-terminal) since your repo is also a fork of the same repo.

Any suggestions on how to fork you repo without affecting the [platformio/platformio-atom-ide-terminal](https://github.com/platformio/platformio-atom-ide-terminal)

[2017-01-01 05:40] Fred-Barclay commented on #17
It could be a bit complicated (yikes, didn't think of that earlier). Would you mind me just manually copying your changes from the platformio pull request? I'll still make sure to credit you. :smile:

*Or* according to http://stackoverflow.com/questions/12338240/how-can-i-fork-the-original-repo-when-ive-already-forked-a-different-fork#12339396 you can choose to open your original pull request here

[2017-01-01 06:21] Fred-Barclay commented on #17
Looks like you made it!

[2017-01-01 06:21] #17 closed

[2017-01-03 04:02] lucis-fluxum opened #19 "Ctrl+L doesn't clear terminal initially"
Ubuntu 16.10, bash 4.3.46(1), linux 4.8.0-32

Hitting Ctrl+L to clear the terminal has no effect until another key is pressed. `clear`, however, works normally. I also get this issue when using terminal-plus and platformio-ide-terminal.

[2017-01-04 20:11] AnkitApurv commented on #16
sorry for being so late with this, I checked, by moving my .atom folder from my profile and doing a fresh termination install, it behaved the same, problem remains

[2017-01-05 02:12] Fred-Barclay commented on #16
Certainly it's worth a try. :smile:

[2017-01-12 10:37] kutulus opened #20 "Object.dirname is deprecated."
Argument to `path.dirname` must be a string
[code]

[2017-01-12 15:55] Fred-Barclay commented on #20
Hi kutulus! Thanks for the report!
Is this more of a cosmetic issue (which still needs to be fixed, of course), or does it actively interfere/stop you from using termination?

Cheers!
Fred

[2017-01-12 15:58] Fred-Barclay commented on #19
G'day @lucis-fluxum
Sorry for getting back to you so late. I've been exploring this and I *believe* this is an issue with our backend pty.js (which makes a fix a bit harder) rather than with termination itself. Let me see what I can do to fix this. :smile:

[2017-01-15 05:33] DamnedScholar commented on #11
I've opened an issue [on the Atom repo](https://github.com/atom/atom/issues/13624).

[2017-01-15 21:52] Fred-Barclay commented on #11
Great! I was a little hesitant to do that myself since I didn't know if this was a bug in my code or an issue with Atom, hence my post on the Atom forums asking for help. Thanks for taking the initiative and opening the issue on the Atom repo! :smile:

[2017-01-25 14:48] kutulus commented on #20
Hi Fred,
sorry for the late reply.
It seems to have no effect to the functionality....

[2017-01-25 17:55] Fred-Barclay commented on #20
@kutulus: Thanks. :+1:
Is this still for Atom Beta? What are the steps to replicate it?

[2017-01-25 18:24] kutulus commented on #20
Hi,
no, it also appears in Atom 1.13.0

Running on OSX 10.11.6
No special installation (I think)
I started using it after some problems with Terminal Plus...

Atom 1.13.0:
Argument to path.dirname must be a string

    Object.dirname - /Applications/02_coding/Atom.app/Contents/Resources/app.asar/src/electron-shims.js:9:10
    <unknown> - /Users/stefano/.atom/packages/termination/lib/status-bar.cof

[2017-01-25 18:47] Fred-Barclay commented on #20
Oh, I see. :-) I can't replicate it here though (Atom 1.13, Arch Linux). Could you maybe take a screenshot or walk me through exactly what you have to do to get this to happen?

[2017-01-25 19:35] kutulus commented on #20
Hi,
-- installed via Settings -> Install ->Install Packages
-- Enable termination
-- Quit and Start Atom
-- In the Statusbar at the bottom appears an Info...

<img width="1075" alt="screenshot" src="https://cloud.githubusercontent.com/assets/8246670/22305922/987c4dda-e33d-11e6-9662-5fff2fc66d6a.png">

[2017-01-25 20:37] Fred-Barclay commented on #20
Perfect! :smile: I still can't replicate it but there's a PR upstream that references this. I've asked the chap if he'd like to submit his PR here, and if not, I'll fix it myself.
Thanks!

[2017-01-26 00:28] benphelps commented on #20
🚢

[2017-01-26 00:57] kutulus commented on #20
Appying #21 to  lib/status-bar.coffee works fine for me.

thanks!

[2017-01-26 01:09] #20 closed

[2017-01-26 01:12] Fred-Barclay commented on #20
Great news! Thanks @benphelps for the fix. :+1:
@kutulus thanks for the report and for trying termination!

[2017-01-31 23:03] Stefanbracke opened #22 "Blank screen upon open Termination"
I see this in console:

_'termination.core.shell' could not set the default. Attempted default: undefined; Schema: {"title":"Shell Override","description":"Override the default shell instance to launch.","type":"string"}_

Termination worked as normal but after restarting my macos 10.12 I get this error in new projects.
Where do i set this shell??

The result of the above is an error:

_Path must

[2017-01-31 23:35] Fred-Barclay commented on #22
Hi @Stefanbracke
Can I grab this info from you?
[code]

[2017-02-01 07:31] Stefanbracke commented on #22
Atom: 1.13.1  x64
Termination: 0.3.6
OS: macos 10.12

[2017-02-04 17:35] Fred-Barclay opened #23 "README: Doesn't work for Atom 1.14"
Hey guys,
Thanks for trying Termination!

Just a heads-up... we're aware that Termination isn't currently working on the **Atom 64-bit version for Windows**. We've contacted upstream and they're actively exploring options which we will most likely pull into Termination.
 https://github.com/platformio/platformio-atom-ide-terminal/issues/155

The alternative is fixing it ourselves, but this potentia

[2017-02-05 00:05] Fred-Barclay commented on #22
Screenshots would definitely be helpful. I can't replicate it on my end... might be another one of those macOS-specific bugs.... grrrr.

(No mac here but I will try to fix it. :smile:)

[2017-02-11 05:08] Fred-Barclay commented on #23
Fixed upstream thanks to @zorn-v :tada:

[2017-02-11 05:08] #23 closed

[2017-02-12 23:56] hanibash opened #25 "Can't select/copy from in moving buffer"
If the terminal is appending output, select (and therefore copy) stops working. Imagine if you have a log that is tailing output, and you want to copy a piece of the log. Currently, as far as I can tell, you would not be able to do this. If output stops moving, select and copy start working again.

[2017-02-13 00:21] Fred-Barclay commented on #25
Hi @hanibash,
Thanks for the report! Let's mark this as an enhancement for now and I'll look at changing this behavior later.
(It may be the way our upstream pty.js terminal provider handles things, in which case I currently don't have the resources to fix that.)

[2017-02-15 14:29] benphelps opened #26 "wqPane.addItem is deprecated."
Pane::addItem(item, 1) is deprecated in favor of Pane::addItem(item, {index: 1})
[code]

[2017-02-15 14:35] benphelps commented on #26
Reproducible by dragging a terminal tab to the files tab bar, which mostly works.

[2017-02-15 14:52] #26 closed

[2017-02-15 14:52] Fred-Barclay commented on #26
Thanks! Merged and pushed to the repo. We'll ship this in the next release. :smile:

[2017-02-17 14:39] kkdd opened #28 "Request: Use Option as Meta Key (for Mac)"
Hello,
I would appreciate the capability to use Option as Meta Key in Termination for Mac.

[2017-02-18 17:51] Fred-Barclay commented on #28
G'day @kkdd
Unfortunately, at the moment I don't have any Mac hardware so I'm unable to code this in. :frowning_face: I'll mark this as an enhancement, though, and if I get a Mac or someone writes and contributes the code, we'll see if we can add the functionality.

Thanks, and cheers!
Fred

[2017-02-20 21:37] yochem opened #29 "Option to place the terminal window on the right"
It would be cool if you had the option to place the terminal window on the right side of atom, like a split screen. I would like to help you, but I'm not the best at java- and coffeescript.

Version of Atom: **1.14.3**
Version of Termination: **0.3.6**
Operating System: **macOS Sierra 10.12.2**

[2017-02-21 09:44] Tms157 opened #30 "Cart type anything just a blinking light"
Hello, i cart seem to get any terminal package to work heres a screenshot: http://imgur.com/a/CZqcV

I have node-gyp installed and heres my other pakages:

Remote-FTP@0.10.5
atom-material-ui@1.3.9
autocomplete-wordpress-hooks@0.2.2
autoprefixer@3.6.1
color-picker@2.2.5
double-tag@0.4.0
emmet@2.4.3
file-icons@2.0.15
highlight-selected@0.12.0
imdone-atom@2.1.18
language-ejs@0.4.0
linter@1.11.21
lint

[2017-02-21 13:19] Fred-Barclay commented on #29
G'day @yochem :)
That's a great idea! We do have something similar already, though it's not obvious (I actually didn't know it existed until about a week ago :smile: ) thanks to Atom's panes. Start a terminal and then drag the icon up to the file tabs bar. The pull the tab to the right and slightly down. You should get a two-pane view with your editor in the left pane and termination in the right:

[2017-02-21 13:22] Fred-Barclay commented on #30
Hi @Tms157
Can I grab this information from you? https://github.com/Fred-Barclay/Termination/blob/master/CONTRIBUTING.md#filing-an-issue It makes debugging (and hopefully fixing) a bit easier. :smiley:

[2017-02-21 13:56] Tms157 commented on #30
Version of Atom: Latest (1.14.3)
Version of Termination: latest (0.3.7)
Operating System: MacOS sierra 10.12.3 (16D32)
Any debug information: jus installed it and it dint work dont really have much more
Steps to reproduce the problem: Just install it

Could i be missing something i need to be able to use this or something? i could not get any terminal to work.

[2017-02-21 14:55] yochem commented on #29
Awesome! exactly what I meant. Been trying to do something like this with panes, but didn't get the result I wanted. It's true it's a bit inconvenient, but it works :) thank you for all your hard work!

[2017-02-21 22:13] jdamour98 opened #31 "Cannot bind Left/Right/Up/Down keys in terminatal/termination"
In the atom work space, the editor receives key commands (i.e. `cmd-left` goes to the start of the line). However, one cannot ever bind the directional keys in termination, because they seem to not come through. Using the keybind-resolver (`cmd-.`), I cannot force the directional keys to ever appear while viewing the terminal.

I'd like to bind `cmd-left` and `cmd-right' to `termination:prev` and

[2017-02-22 18:53] isaac-webb commented on #30
@Fred-Barclay I've had this issue repeatedly with `terminal-plus` and `termination`. Ended up debugging and the problem is in `termination.coffee`.

For some reason, `process.env.SHELL` never seems to be defined, so the line that uses that variable errors. Fixed it by replacing `process.env.SHELL` with `/bin/bash`. Unfortunately, I don't know enough about Atom to fix it myself, but thought I'd sha

[2017-02-22 22:41] Tms157 commented on #30
@isaac-webb what file did you make this change in?

[2017-02-22 22:45] isaac-webb commented on #30
@Tms157 `~/.atom/packages/termination/lib/termination.coffee` Line 83, I changed `process.env.SHELL` to `'/bin/bash'`

[2017-02-22 22:47] Tms157 commented on #30
@isaac-webb Thanks! will give this a go in the morning

[2017-02-23 03:25] Fred-Barclay commented on #30
Awesome @isaac-webb ! I hope this helps @Tms157 :smile: and you're definitely helping me figure out the problem.

Can you walk me through the steps you used to debug and find this? I'm still inexperienced working with coffeescript and electron.

Side note:
Changing `process.env.SHELL` to `/bin/bash` isn't a solution for the entire program since we have Windows users (and maybe some Linux users wit

[2017-02-23 03:26] Fred-Barclay commented on #31
G'day @jdamour98 . I'll look into it, thanks! :smile:
Fred

[2017-02-23 03:59] isaac-webb commented on #30
@Fred-Barclay I just used Atom's built-in Chrome web debugger. There was a warning when the package loaded relating to the `shell` variable being `null` so I found the definition in the `termination.coffee` file and noticed that `process.env.SHELL` does not seem to exist on macOS (figured this out by using the console to view the `process.env` object). In addition, an error was thrown whenever a t

[2017-02-23 04:46] Fred-Barclay commented on #30
I've got two ideas so far:
add `process = require 'process'` to the top of termination.coffee
or
add this under line 83:
[code]

I don't have Mac hardware so I'd need someone to test this and help me out. :stuck_out_tongue_winking_eye:

[2017-02-23 05:33] jdamour98 commented on #31
Thanks for the quick reply and label! I understand this isn't an issue/bug/important, but thought I'd add it to the discussion. Appreciate the attention!

[2017-02-23 13:08] isaac-webb commented on #30
I think either of the latter two options would work, @Fred-Barclay ! The "fallback" fix might be nice for Linux users who somehow do not have a shell defined. I tested the first option, and it didn't make much of a difference, likely because the `process.env` object does exist, it just doesn't have a `SHELL` property.

I made another interesting discovery this morning, however... I, as most macOS

[2017-02-23 16:48] Tms157 commented on #30
@Fred-Barclay , @isaac-webb thanks foe the help guys! working fine now.

[2017-02-23 16:53] Fred-Barclay commented on #30
Great news @Tms157!

I'll push out an update in a few moments with `process.env.SHELL || '/bin/bash'`. I'm also going to kick this upstream as an Issue. Considering that they have 3 similar issues on their repo they might be interested in this fix or have some other suggestions.

@isaac-webb Linux rocks! Just sayin'...
Thanks for the help and the fix!

[2017-02-23 16:53] #30 closed

[2017-02-23 17:21] Fred-Barclay commented on #31
I just did some snooping around (admittedly on a linux machine so it might not be accurate) and it appears that `cmd-left` and `cmd-right` are reserved already.

We do offer the `alt-shift-j` and `alt-shift-k` keybindings for `termination:prev` and `termination:next` respectively.

Hope this helps!
Fred

[2017-02-23 17:24] Fred-Barclay commented on #29
Great! I'm going to mark this closed then, and I've already added making this easier to the TODO file 684c42c594ea1dc84856e62f7ee27681f9eed0ee.

Cheers!
Fred

[2017-02-23 17:24] #29 closed

[2017-02-23 18:20] Fred-Barclay commented on #30
Wow, @ivankravets works fast! This is fixed and released for platformio-ide-terminal as well:
https://github.com/platformio/platformio-atom-ide-terminal/commit/112c963f5edbcf203a52a47c107bc6587894bc15

[2017-02-23 20:28] yochem commented on #29
You're a hero! thanks :)

[2017-02-24 14:51] alegag opened #32 "Blank terminal"
Atom: 1.14.3 (had same issue in 1.13.x)
Termination: 0.4.0
OS: Fedora Workstation 25

I install the package, change nothing in settings (Shell Override is set to "/usr/bin/bash", which exists on my system).

I get a terminal with no prompt.  What ever I try, I never get the prompt.

![screenshot from 2017-02-24 09-50-15](https://cloud.githubusercontent.com/assets/21232519/23307771/b6ad2db0-fa76-11

[2017-02-24 15:42] Fred-Barclay commented on #32
Hi @alegag
What happens if you set the shell override to /bin/bash?

Also, can you give me this output from your system?
[code]

I'm downloading Fedora now so I can try to replicate this (bash is only in /bin/bash for my Debian system).

Cheers!
Fred

[2017-02-24 19:25] alegag commented on #32
Hi @Fred-Barclay

First, thanks for the quick reply !

I've tried both ```/bin/bash``` and ```bash``` as the Override value, restarted Atom in between each test to make sure, same result.

[code]

Let me know if I can be of any more assistance !
Thanks !

[2017-02-25 03:28] Fred-Barclay commented on #32
This is odd. I can't replicate it with Fedora Workstation 25 64-bit (Xfce spin and fully updated), and `/bin/bash` is the default shell in the Override field:
![term1](https://cloud.githubusercontent.com/assets/11165995/23327777/3087d67e-fb0a-11e6-86c6-d3a7ef15600f.png)

Can we try with a new Atom profile? Maybe something's gone bad in it.
[code]
Then launch Atom. Any change?

[2017-02-25 04:20] alegag commented on #32
Your test put me on the right track to find the bug.  I don't know if this is on your side or on Atom's side tho'.

In my setup, my ".atom" directory is on an NFS share, so I can use the same Atom settings on multiple computers.  That share is mounted "noexec" by default.  That's what prevent the terminal from showing.

To reproduce, supposing you have a "/home" on a dedicated partition on your Li

[2017-02-27 03:39] Fred-Barclay commented on #32
Hi,
I will have to do some thinking on this. It may or may not be something that I can control, or would want to control from Termination.

Is `.atom` in your /home? If not, could you link/copy/do something so that the "real" .atom stays on the noexec partition but you can still interact with a clone of sorts? (Not sure if that makes sense.)

Cheers!
Fred

[2017-02-27 23:24] alegag commented on #32
Hi @Fred-Barclay

No sure to follow ;-)

The way I was setup was that the ~/.atom was a symlink to ~/Development/.atom

The ~/Development partition was set noexec.

By result, ~/.atom content was noexec.

I've tried to "bind mount" with "exec" flag, but it did not worked.

What I did to workaround this issue is to add an extra entry in my fstab where I do something similar to:
[code]

That way, ~/

[2017-02-28 21:33] Drwalnik opened #33 "Can't run Electron"
Tried to use npm install and npm start commands. npm install works fine but when I type npm start it runs all scripts and then either doesn't even start or automaticly ends after scripts ends.

[2017-02-28 21:39] Fred-Barclay commented on #33
Hi @Drwalnik
Thanks for trying Termination!

It's the same bug as https://github.com/Fred-Barclay/Termination/issues/11. Neither `atom`, `electron`, `node`, nor `npm` work due to the way Atom interacts with Termination (specifically, it sets electron to run as node).

For long-term, we'll definitely do our best to change this behavior. :smile:

[2017-02-28 23:34] Naki21 commented on #33
I have been having the problem using platformio-ide-terminal and I think I may have figured it out. (https://github.com/atom/atom/pull/11475) Here they mention that

I looked at the process.coffee file in the platformio package and saw that it was still named 'ATOM_SHELL_INTERNAL_RUN_AS_NODE' in  'filteredEnvironment'. I changed to ELECTRON_RUN_AS_NODE and it seems to be working fine. It looks lik

[2017-02-28 23:41] Naki21 commented on #11
I have been having the same issues and I think I may have solved it. See my post in #33 .

It looks like ATOM_SHELL_INTERNAL_RUN_AS_NODE was renamed to ELECTRON_RUN_AS_NODE (https://github.com/atom/atom/pull/11475)

In the terminal ide `process.coffee` file the `filteredEnvironment` function still uses `ATOM_SHELL_INTERNAL_RUN_AS_NODE`. I changed this to `ELECTRON_RUN_AS_NODE` and it seems to now

[2017-02-28 23:51] Fred-Barclay commented on #33
@Na21: If this works, I'll owe you a cup of coffee! :coffee:  I'd read up on `ATOM_SHELL_INTERNAL_RUN_AS_NODE` being renamed to `ELECTRON_RUN_AS_NODE` and deleted the entire variable in https://github.com/Fred-Barclay/Termination/commit/a59096f555c33d10657a2fa1d6c80635e0aef3fb in hopes it would solve our issues... for some reason it never crossed my mind to simply rename it correctly!

The `atom`

[2017-03-01 00:16] Fred-Barclay commented on #33
@ Naki21 Scratch that, let's go ahead and fix this and push a new release. It needs renaming anyways, and it'll be easier for @Naki21 @jwogrady and @chrisallenmoore and everyone else to test and (hopefully) confirm that it fixes everything. :+1:

[2017-03-01 00:29] Fred-Barclay commented on #33
Release 0.5.0 has been pushed! Please try it and let me know if it fixes the issue.

[2017-03-01 00:32] Fred-Barclay commented on #11
@Naki21 Thanks! I've pushed out a new release with `ELECTRON_RUN_AS_NODE`. :smile:

@chrisallenmoore @jwogrady Please update to release 0.5.0 and let me know if this fixes the problem.

[2017-03-01 04:41] Fred-Barclay commented on #22
@Stefanbracke We've made a few changes (two of which are significant) to Termination recently. Can you check and see if this is still active with the latest release?

Cheers!

[2017-03-01 06:47] Drwalnik commented on #33
sorry, it still doesn't work for me.

[2017-03-01 17:43] Timemashine opened #34 "Error while apm install"
Found the package and wanted to install it with `apm install`

[code]

I closed Atom and tried again:

[code]

[2017-03-01 18:12] Fred-Barclay commented on #34
Hi @Timemashine and thanks for trying Termination! :smile:
So you can install Termination when Atom is closed but not when it is open?
That sounds (possibly) like the issue may be on Atom's end.

Can I get this info from you?
[CONTRIBUTING.md#filing-an-issue](https://github.com/Fred-Barclay/Termination/blob/master/CONTRIBUTING.md#filing-an-issue)

[2017-03-01 22:49] Timemashine commented on #34
I forget to say, after the 2. try it was installed successful.

Atom version 1.14.4
apm version 1.15.3

[code]

[2017-03-03 07:46] PhillMcKraken commented on #33
I did a lot of tracking on this, see my comments (or my very last one) in https://github.com/platformio/platformio-atom-ide-terminal/issues/112 for a fix. The main issue is we loose the prebuilt native modules which might be a deal breaker for wide release...

If someone could figure out how to get some prebuilds going for node-pty (or if we can convince Tyriar to ship them) we would be golden.

[2017-03-04 01:43] biomade opened #35 "Electron won't start from terminal"
I was beating on this for hours... npm start will not launch an electron application and gives a long debug list. but when I open a regular command prompt and run npm start it does!
I am using windows 10 and Atom.
Here is the debug log

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-

[2017-03-04 02:11] Fred-Barclay commented on #35
G'day @biomade and thanks for trying Termination!
Sorry about that - it's definitely a bug. We just fixed this for Linux (and macOS, I believe), but Windows is still giving us fits! :unamused: @PhillMcKraken has done some much-appreciated digging and it appears the issue is with the pty.js builds for Windows that we rely on.

I'm currently exploring ways around this.

[2017-03-04 02:15] biomade commented on #35
Glad to hear that you are aware of it. Thanks for the reply and for the time being, now I know what to do to keep moving forward. I look forward to the update

[2017-03-04 03:34] PhillMcKraken commented on #35
I have confirmed moving to node-pty fixes this, however we loose prebuilt binaries.

[2017-03-04 06:08] Fred-Barclay commented on #33
Hi @PhillMcKraken
Thanks for sticking with this! I don't have a personal Windows machine so testing and digging around isn't the simplest task for me. :grin: But I'm working on it and I've got a few ideas I'm kicking around.

[2017-03-04 06:09] Fred-Barclay commented on #34
Okay, cool. From what I see this looks like an issue on Atom's end, not ours, but I'll keep this in mind.
Thanks!

[2017-03-04 06:09] #34 closed

[2017-03-05 03:38] Fred-Barclay commented on #35
@PhillMcKraken Can you walk me through replacing pty.js with node-pty?
I've checked https://github.com/PhillMcKraken/platformio-atom-ide-terminal/commit/5653f119d225f09cd6053d5b9ea1b267542a228c and I see the two lines that you've edited, but after editing those lines in my local installed Termination folder (.atom/packages/termination) and running `Update Package Dependencies: Update` inside Atom,

[2017-03-05 03:46] PhillMcKraken commented on #35
Whats your console say? What I did was I ran "apm reinstall" inside the package from my terminal and that fixed it all.

[2017-03-05 03:47] Fred-Barclay commented on #35
The console reports it can't find `node-pty`.
Let me try `apm reinstall`. Back in a minute or two...

[2017-03-05 03:49] PhillMcKraken commented on #35
just to be sure, you did make sure note-pty installed inside the termination/node_modules, right?

[2017-03-05 03:52] PhillMcKraken commented on #35
also i probably goofed, you may want to point right at "node-pty" in package.json (I manually ran npm install for it)

[2017-03-05 03:56] Fred-Barclay commented on #35
Yep, it was definitely installed in node_modules.
Can you specify more about pointing right at "node-pty" in package.json? This is what mine looks like currently:
[code]

[2017-03-05 03:57] PhillMcKraken commented on #35
have it install from npmjs like a normal dependency

`"node-pty": "^0.6.2"`

[2017-03-05 03:59] Fred-Barclay commented on #35
[code]
apm rebuild works though.

Still got a flashing cursor... I'll try editing package.json like your last post.

[2017-03-05 04:01] PhillMcKraken commented on #35
yeah its apm rebuild.

To do exactly what I did when I confirmed it manually, I was at termination in my terminal, ran `npm install node-pty` then `apm rebuild`, updated process.coffee to point at node-pty instead, and then it worked just fine. My main issues were before I knew about `apm rebuild` so I was getting invalid native module errors due to the version mismatches.

[2017-03-05 04:05] Fred-Barclay commented on #35
Bleh - still same flashing cursor.
I'm going to have to call it quits for now. Back at it tomorrow!

And thanks for all your help! :+1: Windows is a weak point with me (okay, if it's not Linux it's a weak point :grin:) so I really appreciate having someone who knows more about the platform around and digging - makes this ten times easier!

[2017-03-05 04:07] PhillMcKraken commented on #35
strange, no idea why it wouldnt find a module inside node_modules -- has to be a path issue of some sort...

`.atom\packages\platformio-ide-terminal\node_modules\node-pty`
`.atom\packages\platformio-ide-terminal\lib\process.coffee`

Why wouldnt it locate it? Odd.

[2017-03-05 12:37] janl opened #36 "Question: vertical view"
I’m wondering if it would be possible to have the terminal work in a vertical view?

Imagine a widescreen display, 80col source code panels and then just one extra column for the terminal, makes it easier to read stackstraces and whatnot.

|code|code|term|

[2017-03-05 15:00] yochem commented on #36
I think you mean something similar to issue #29, let me know if this helps you out

[2017-03-05 16:46] janl commented on #36
brilliant, thank you. I did look through closed issue, but probably with the wrong search terms. Thanks!

[2017-03-05 16:46] #36 closed

[2017-03-05 19:25] yochem commented on #36
No problem! Glad i could help 😄

[2017-03-05 20:41] Timemashine commented on #34
Found the Problem!

The installation failed because of an problem in the apm plugin for [oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh)

[2017-03-05 20:47] Fred-Barclay commented on #34
Great work mate! :+1:

[2017-03-15 08:42] gutenye opened #37 "[Feature] Add keyboard shortcut to open each terminal"
For example, you can define `cmd-1` to open first terminal, `cmd-2` to open second terminal, etc

It's a great productivity boost for heavy keyboard users.

[2017-03-15 16:38] #11 closed

[2017-03-15 16:38] #22 closed

[2017-03-15 18:44] adkelley opened #38 "Uncaught TypeError: Cannot read property 'focusTerminal' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [termination](https://github.com/Fred-Barclay/Termination) package 0.5.0

### Stack Trace

Uncaught TypeError: Cannot read property 'focusTerminal' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-15 19:34] Fred-Barclay commented on #38
Thanks for the report! I'll look into it.
I don't have a mac so I might need you to do some testing; is that okay?

[2017-03-15 19:35] Fred-Barclay commented on #38
(Sorry, didn't mean to close it.)

[2017-03-16 13:35] adkelley commented on #38
No worries, I'm happy to help.  I was attempting to switch to the terminal window (cmd-option-f) when it wasn't open.  As long as the terminal window is open (ctrl-~) then atom won't throw the error.  Perhaps you catch the error and display a friendly "No terminal window is open" message before atom throws throws the error?  Thanks!

[2017-03-17 18:16] charliesbox opened #40 "[Feature] Option to disable toggle animation"

[2017-03-20 12:09] stillworks opened #41 "Better theme compatibility"
With the default theme selecting the open terminal windows with the little icons works well. With for exp. Atom Material theme not.

They flicker and can't be clicked. I have to click between the terminal icon and the line under the icon so switch between the different terminals. Seems the size gets messed up somehow.

[I made a video](https://spaces.hightail.com/space/Lqu5s/fi-d519e4f8-1cc0-407d-

[2017-03-20 15:50] Fred-Barclay commented on #41
Woah, that is an issue! I'll look into it. :smile:

Thanks for trying Termination!

[2017-03-20 16:57] #37 closed

[2017-03-23 23:53] girlandhercode commented on #41
This is also an #[issue](https://github.com/platformio/platformio-atom-ide-terminal/issues/149) with [Platform.io's version of the terminal](https://github.com/platformio/platformio-atom-ide-terminal) for Atom when used in combination with Atom Material theme and someone already mentioned a fix that worked for me (and others apparently).

[Link to comment with fix](https://github.com/platformio/pl

[2017-03-24 08:17] stillworks commented on #41
Agreed, that fixed it for me. Thanks!

[2017-03-24 12:58] Fred-Barclay commented on #41
Thank you @girlandhercode!
So it **is** a bit buggy (imho) but not on our end. This info and the workaround are definitely going into the wiki. :smile:

Cheers!
Fred

[2017-03-24 12:58] #41 closed

[2017-03-24 13:07] #31 closed

[2017-03-24 14:34] stillworks opened #42 "[Feature] Splitview for Termination"
well, like the Atom ones.

[2017-03-24 14:39] stillworks opened #43 "[Feature] Remember your terminals"
There is the [Project Manager](https://atom.io/packages/project-manager) it would be nice if I could create a default set of terminals and open them automatically when the project opens.

Save the name, the color and minimize them by default.

[2017-03-26 13:27] yochem commented on #42
Something like issue #29? Or do you mean splitview in the bottom of the screen? Let me know if this helps you out!

[2017-03-26 17:43] stillworks commented on #42
In the bottom of the screen :)

[2017-03-28 21:28] sandermak opened #44 "Cannot create terminals after disabling 'status-bar' core package."
**Atom version:** 1.15.0 x64 on MacOS
**termination version:** 0.5.0

I use Atom with termination a lot in demo's. For that, I need the visual experience to be as clutter-free as possible. Therefore I want to disable Atom's status bar. This seemed to work fine in combination with termination, until I restarted Atom with the disabled status-bar core package. Then, I could not create new termination

[2017-03-28 22:33] Fred-Barclay commented on #44
Hi @sandermak
Thanks for trying Termination!

I hadn't really considered someone disabling the status bar. :grin:
In the settings for Termination, what happens if you untick "Clone Terminal-Plus"?

[2017-03-29 05:01] sandermak commented on #44
Thanks for the quick response! Unticking that setting doesn't change the behavior for me. Still not able to create new terminals then.

[2017-03-30 01:43] Fred-Barclay commented on #44
Agh - I was hoping for a simple solution.
Let me mull on this for a bit. I really haven't considered a situation in which status-bar wouldn't be used. I do have a feature request #42 and #29 that might integrate well with this. I'm just short on development time at the moment. :(

Cheers!

[2017-03-30 07:00] sandermak commented on #44
Thanks for taking the time! I do have a workaround for now (restart Atom with status-bar enabled, then disable it). Keep up the good work!

[2017-03-30 12:40] MarleDK commented on #40
If you just set the animation speed to 0, it will be off.

[2017-04-01 23:48] Fred-Barclay commented on #40
Thanks @MarleDK . That's the correct answer - just go to Settings (Ctrl + ,) in Atom, "Packages", "Termination", and then select our settings. From there you can set animation speed to 0 (it's 1 by default).

[2017-04-01 23:48] #40 closed

[2017-04-01 23:51] Fred-Barclay commented on #43
Thanks @stillworks. It's not something I want to implement just yet, but I've added to our "might-implement/long-term" ideas category. :smile:

[2017-04-30 10:25] AStupidBear opened #45 "Feature Request: remove empty lines in selection before pasting to terminal"

[2017-04-30 16:21] Fred-Barclay commented on #38
@adkelley I've just added a PR from upstream that should hopefully fix this. Can you do
[code]
to get the latest code in this repo and see if it works?

Currently it's just set to do nothing if a terminal window isn't opened, but I might change that based on how well this works. 😄
Thanks!

[2017-05-01 02:22] AStupidBear opened #46 "Feature Request: Open Hyperlink"
Like VS Code

![image](https://cloud.githubusercontent.com/assets/16422976/25570464/166f54a2-2e58-11e7-86a1-547c84c1d9b6.png)

[2017-05-01 04:21] adkelley commented on #38
Yes. It's working for me.  Thank you!

[2017-05-01 04:39] Fred-Barclay commented on #38
Awesome, thanks!
I'll push out a new version in a few hours, then.

[2017-05-01 04:39] #38 closed

[2017-05-04 03:11] levblanc opened #47 "Highlight selected text"
Atom: 1.16.0
Termination: 0.5.1
OS: MacOS 10.11.6

When I tried to select some text to copy, the selected part was not highlighted.

The select and copy functions actually worked fine, so I think this is just a tiny visualization problem. :)

[2017-05-04 03:33] Fred-Barclay commented on #47
Hi @levblanc and thanks for trying Termination!

Sorry about that. Can you maybe take a screenshot? I don't have a mac and I can't reproduce this on my Linux and Windows machines.
Are you using any particular theme? Does the highlighting work if you use another theme?

Thanks!
Fred

[2017-05-04 03:37] Fred-Barclay commented on #45
Thanks for the request!
I'll put this in the "think about" pile. We'd have to be careful with this so that we don't accidentally change data that a person actually wants to be pasted into the terminal. But if I find a way to do this that I'm comfortable with, I'll definitely add it.

Cheers!

[2017-05-04 03:38] Fred-Barclay commented on #46
I think that's a great idea! Let me look into it. 😄

[2017-05-04 07:23] levblanc commented on #47
@Fred-Barclay Thanks for your reply.

After taking a screenshot, I saw the highlight in it. That becomes a problem of my external monitor then. Haha.

Talking about theme, I think the theme setting part should clarify that changing takes effect only on new terminals. I thought it would take instant effect and was waiting for your next versions to fix it, until I changed to a white background theme

[2017-05-04 14:44] Fred-Barclay commented on #47
Whew - I was a bit worried as I don't have a mac, and if this were mac-specific it could have been difficult to fix. 😄

That's a good idea. I'll add something like "Changing themes requires a terminal restart" or something like that.

Take care,
Fred

[2017-05-07 14:19] pjv opened #48 "ansi colors"
seems like the new "themification" makes my custom ansi colors from the packages settings be ignored.

is there a way to make my own theme for the ansi colors?

or is there a way to make the package pay attention to my custom ansi colors from the settings?

[2017-05-08 02:36] levblanc commented on #47
@Fred-Barclay

Actually, it would be better if you could make the highlight in a lighter color. :)

highlight in Termination:
![image](https://cloud.githubusercontent.com/assets/4057887/25788207/e6e44044-33d9-11e7-9ebd-c292115b0022.png)

highlight in Hyper:
![image](https://cloud.githubusercontent.com/assets/4057887/25788221/07c86b78-33da-11e7-8831-3a6284a4dc3b.png)

[2017-05-08 04:32] Fred-Barclay commented on #48
Yep, sorry, the goal was to make each theme handle colours rather than having a universal set of ansi colours for the themes.
You could use custon ansi colours before this last update, right? Can you walk me through exactly how you go about that? I'll see if I can't add this functionality back. :)

Thanks for trying Termination!

[2017-05-08 04:33] Fred-Barclay commented on #47
Yeah, that sounds like something we need to look at. Thanks!

[2017-05-08 10:29] pjv commented on #48
If you look at the package's settings, you'll see that there is the ability to specify "Ansi Colors" in there. Without looking at your commits, I imagine that somewhere along the line in getting ansi colors from themes, you either nixed looking at the colors specified in the settings, or are overriding them by getting the colors from the theme after the colors from the settings.

[2017-05-08 15:09] Fred-Barclay commented on #48
That would be this commit ae4dee7269471a1448c2f3d23996448d4a978d66 😄
I'll try and straighten it out.

[2017-05-11 15:10] Drabc commented on #43
I was thinking of something similar. Whenever Atom would be opened on a project, default tabs are opened which by default would run predefined commands.

[2017-05-12 08:33] bennypowers opened #49 "Atom Panel => Atom Dock"
Beta 1.17 included a new UI component called Docks that provide an alternative to panels. Termination could benefit. here's an exemplar on conversion:

https://github.com/atom/tree-view/pull/1056/files

[2017-05-13 23:40] Fred-Barclay commented on #49
Thanks for the heads-up! I'll take a look. 😄

[2017-05-20 21:40] pietrodn commented on #38
Glad that my fix helped! :)

[2017-05-20 22:11] Fred-Barclay commented on #38
@pietrodn Thanks so much! 😁

[2017-05-22 00:28] thamamur opened #50 "Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an al..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.5
**Thrown From**: [termination](https://github.com/Fred-Barclay/Termination) package 0.5.1

### Stack Trace

Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-s

[2017-05-22 02:31] Fred-Barclay commented on #50
Hi @thamamur
Thanks for trying Termination!

Can I get from you the steps to reproduce this?

[2017-06-12 21:03] #50 closed

[2017-06-14 21:31] cdzombak opened #52 "Allow hiding the "close all" button"
**Environment:** Atom 1.17.2, macOS 10.12.5, Termination 0.5.1.

Termination's "Close All" button is always displayed in the status bar:

<img width="439" alt="screen shot 2017-06-14 at 17 27 02" src="https://user-images.githubusercontent.com/102904/27155381-c76a5f54-5126-11e7-8efb-d819316bdaa2.png">

**Feature request:** I'd prefer having some way to hide it, even if terminals are open. I rarely

[2017-06-16 10:24] saadq opened #53 "Different behavior on terminal vs Termination"
I'm getting different results when running `npm test` on my regular terminal:

![screen shot 2017-06-16 at 6 18 34 am](https://user-images.githubusercontent.com/5678694/27222835-e812eae2-525b-11e7-98a1-9813292c9b19.png)

vs running it in Termination:

![screen shot 2017-06-16 at 6 18 15 am](https://user-images.githubusercontent.com/5678694/27222844-ef75e3ca-525b-11e7-9564-b9058410732e.png)

The te

[2017-06-16 10:39] saadq commented on #53
Okay, this is really weird but changing `NODE_ENV=test` to `BABEL_ENV=test` seemed to fix the issue. In case you're unfamiliar with `babel`, it first looks for a `BABEL_ENV` and then looks for a `NODE_ENV`. So my original thing should have worked which is why there is no issue when using it in a normal terminal. I'm not sure why Termination behaves differently.

But if you don't have anything to a

[2017-07-08 12:18] bacdillon opened #54 "Uncaught Error: channel closed"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [termination](https://github.com/Fred-Barclay/Termination) package 0.5.1

### Stack Trace

Uncaught Error: channel closed

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-07-09 22:36] saadq commented on #52
I agree that it would be nice if this was a built-in feature, but it's pretty easily doable with a little CSS. You can even remove the entire top-bar and bottom bar if you'd like. Here is what mine's looks like:

![screen shot 2017-07-09 at 6 30 00 pm](https://user-images.githubusercontent.com/5678694/27998116-a481e888-64d4-11e7-96c6-3768d972c1af.png)

If you just want to get rid of "Close All" bu

[2017-07-10 15:32] cdzombak commented on #52
That's a great idea. Thanks, @saadq!

[2017-07-25 16:38] Devhercule opened #55 "Problem with electron launch from within atom using Termination"
Hi,

It is impossible to launch my Electron application using your package "Termination" within atom, I have this error message:

[code]

However, when I launch the same project on Windows PowerShell, it works properly.

I tried to launch the Quick Start example given in https://electron.atom.io/docs/tutorial/quick-start/

Same problem, impossible to run it from the atom terminal.

I tried with `u

[2017-07-27 02:44] Fred-Barclay commented on #55
Duplicate of #11 #33 #35

[2017-07-27 03:02] Fred-Barclay commented on #55
Hi @Devhercule and thanks for trying Termination!
It's a known bug with Windows machines (it used to be problematic for Linux and macOS as well but we were able to fix that) - see, for instance, https://github.com/platformio/platformio-atom-ide-terminal/pull/184#issuecomment-283343069. The error appears to come from pty.js, which we use as a backend.

Unfortunately I don't have the time or resourc

[2017-07-27 07:14] Devhercule commented on #55
Thank you @Fred-Barclay for your reply,

In the comment you mentioned, i tried this link given by @pbarbiero :

But the link doesn't work...

[2017-08-08 22:16] hallaathrad opened #56 "Incompatibility error after Atom update"
Some installed packages could not be loaded because they contain native modules that were compiled for an earlier version of Atom.
pty.js@0.3.0 – Cannot find module '..\bin\win32\x64.m53.node'

Similar error for platformio-IDE (complaining about pty.js)

Atom: 1.19.0 x64

[2017-08-09 11:06] 16patsle opened #57 "Termination terminal UI not visible, keybinds not working on Atom 1.19"
### Description

After updating to the newly released Atom 1.19, the terminal UI added by this package is no longer visible. The toolbar under the editor is not there, and the keybindings and menu elements seem to do nothing. Could be related to #56.

### Steps to Reproduce

1. Use/update to Atom 1.19
2. Have the package activated
3. Notice the lack of UI
4. Try using the keybindings
5. Notice how

[2017-08-09 13:08] hallaathrad commented on #56
Anyway we can help? would love to open a PR if you have any clues on what needs to be fixed.

[2017-08-09 13:16] Fred-Barclay commented on #56
G'day @hallaathrad
Thanks for the report and sorry for the trouble. It looks like our pty.js binaries aren't compatible with the version of Electron shipped with Atom 1.19. Upstream has released new builds, but they're having trouble with them (see https://github.com/platformio/platformio-atom-ide-terminal/issues/297 and https://github.com/platformio/platformio-atom-ide-terminal/issues/304).

At t

[2017-08-09 13:56] hallaathrad commented on #56
Hey :) thanks for the quick response.
Managed to rebuild the package manually by doing
[code]

Reload atom after that and you should be fine.
If not, this at least seems to enable the "rebuild package" button, which should solve the issue as well.

Working on submitting a PR with the updated package.

[2017-08-10 07:42] tsela opened #58 "Since Atom update to 1.19.0 Termination fails to create terminals on Windows 7"
Since the latest Atom update, Termination fails to work properly. The UI is still present, as well as the key bindings and commands, but the area where the terminal window should appear stays empty, with a blinking cursor on the top left-hand corner, rather than showing the Windows Powershell appearing. It's possible to create more instances of that terminal window, to close them and reopen them a

[2017-08-11 06:32] AStupidBear commented on #58
I have the same issue.

[2017-08-11 23:02] adkelley opened #59 "Uncaught ReferenceError: fromWindowEvent is not defined"
[Enter steps to reproduce:]

1.  Start a termination session (ctrl-`)
2.  This uncaught reference error occurs whenever I switch back to Atom from another application.  I can also reproduce it by focusing on the termination window with my mouse, instead of ctrl-alt-f

**Atom**: 1.19.0 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.12.6
**Thrown From**: [termination](https://github.com/Fred-Barclay/Te

[2017-08-12 14:01] BenoitRanque commented on #58
Same issue here on Windows 10, Atom 1.19.0 x64

[2017-08-12 17:08] Fred-Barclay commented on #58
Sorry about this mates. I'm hoping to get a fix out shortly.

[2017-08-12 17:30] saeidamiri1 commented on #20
Hi Fred-Barclay,
 I got deprecations after using shift+alt+R  (mac and Atom 1.19.0).
Thanks, S.

<img width="1273" alt="screen shot 2017-08-12 at 12 24 47" src="https://user-images.githubusercontent.com/19543946/29242818-5e49954c-7f59-11e7-9888-81a00a7b868b.png">

[2017-08-13 04:25] Fred-Barclay commented on #59
I've just pushed a new version to fix a different error when running Termination on Atom 1.19 - can you update to that and let me know if the problem persists?

[2017-08-13 04:26] Fred-Barclay commented on #58
Hopefully it's fixed now with the 0.6.0 release. After updating, Atom may tell you to rebuild Termination due to incompatibilities... just click the red bug icon and follow the prompts.

[2017-08-13 04:27] Fred-Barclay commented on #57
Hi, sorry about this. Hopefully it's fixed now with the 0.6.0 release. After updating, Atom may tell you to rebuild Termination due to incompatibilities... just click the red bug icon and follow the prompts.

[2017-08-13 04:27] Fred-Barclay commented on #56
Hopefully it's fixed now with the 0.6.0 release. After updating, Atom may tell you to rebuild Termination due to incompatibilities... just click the red bug icon and follow the prompts.

[2017-08-13 13:52] BenoitRanque commented on #58
Can confirm this is now solved after updating package, clicking bug icon, rebuilding and reloading.

[2017-08-13 17:40] adkelley commented on #59
Yes, running your new version of Termination on Atom 1.19 appears to have fixed the problem.  Thanks!

[2017-08-13 17:40] #59 closed

[2017-08-14 01:21] VladimirDev93 commented on #57
`Linux Mint 18.2 amd64`

After the `0.6.0` release, all good.

[2017-08-14 01:56] #57 closed

[2017-08-14 01:56] #58 closed

[2017-08-14 02:38] #56 closed

[2017-08-14 10:06] 16patsle commented on #57
Thanks. After updating and rebuilding, there seems to be no problems anymore. 👍🏼

[2017-08-15 04:48] jsolisu commented on #56
@Fred-Barclay Sorry, but it is not fixed on 0.6.0 release.
Atom 1.20.0 x64

[2017-08-15 05:53] Fred-Barclay commented on #56
@jsolisu Sorry about that. I'll take a look, but since 1.20.0 is still beta I most likely will not push a fix until it reaches stable.

[2017-08-19 04:02] AStupidBear opened #60 "v0.6.0 is not compatable with Atom1.19.0"
The terminal window will not show up.

[2017-09-22 21:21] JestDotty opened #61 "Exiting mid-input"
Seems the ctrl+c, +d, +q, +z, or alterations of shift or alt aren't working for me

I'm talking about this behaviour:

![image](https://user-images.githubusercontent.com/4729968/30764517-528a30ce-9fb9-11e7-88fa-daad1f661af2.png)

atom: 1.20.1
termination: 0.6.0
os: windows 8.1

(in a related note, ctrl + alt + c seems to put console history into a new file, but doesn't seem to exist in docs or set

[2017-09-23 15:38] Fred-Barclay commented on #61
Hi @JestDotty
That should indeed work. On my personal machine (Arch Linux), Ctrl + c stops the process:
[code]

I'll check the behavior on Windows asap (it might take a few days) and see if we can figure this out. :)
Cheers!
Fred

PS: `ctrl + alt + c` was added in #7 but you're right, I don't have it documented anywhere! Thanks!

[2017-09-24 20:05] Fred-Barclay commented on #60
Sorry for the late reply - you may have to uninstall termination and then reinstall it. You may also be prompted to rebuild termination.
Our backend (the part that actually provides the terminal) was build against an earlier version of Atom and stopped working for Atom 1.19.

[2017-09-24 20:05] #60 closed

[2017-09-24 20:06] Fred-Barclay commented on #54
I can't reproduce this. Closing for now - @bacdillon does this still occur with the latest Atom and termination (currently v0.6.0)?

[2017-09-24 20:06] #54 closed

[2017-09-24 20:06] #52 closed

[2017-09-24 20:07] #16 closed

[2017-09-24 20:07] #32 closed

[2017-09-27 15:02] Fred-Barclay commented on #61
I haven't been able to replicate this on Windows 7 with powershell. Maybe there is something unusual with your setup? I'm especially curious if the `.` in the name of your project folder could cause unexpected behaviour.

[2017-09-27 17:43] JestDotty commented on #61
powershell directly works with `ctrl+c` in this folder:

![image](https://user-images.githubusercontent.com/4729968/30928390-87745f52-a389-11e7-8381-4c637a485c93.png)

`ctrl+c` in atom's termination does not work with a folder without `.` either:

![image](https://user-images.githubusercontent.com/4729968/30928501-d145ecc2-a389-11e7-8777-284a4d0e6ae1.png)

[2017-10-11 01:24] jberkus opened #63 "Bogus BASH_FUNC errors from platform_io_terminal affect Termination as well"
Fred:

Atom 1.21.0
Termination 0.6.1
Fedora 25, Gnome

This issue from platform_io_terminal affects Termination as well: https://github.com/platformio/platformio-atom-ide-terminal/issues/120

I get the exact same behavior.

[2017-10-11 04:10] jberkus opened #64 "Feature request: pipe to terminal"
One thing I'd love to have for Termination would be the ability to take highlighted text from the current text buffer in Atom, and with a menu option "pipe" it to the terminal.

This was functionality I added to Kate (editor) once upon a time, but the Atom code baffles me.

So ... name your price?

[2017-10-11 04:28] Fred-Barclay commented on #64
Would https://github.com/Fred-Barclay/Termination#insert-selected-text be what you are looking for?

[2017-10-14 16:47] Dan9er opened #65 "Can't select text at all"
Atom: 1.19.3
Termination: 0.6.1
OS: Ubuntu 16.04

Using a custom theme:
[code]

Absolutely can't select text in any way.

[2017-10-15 03:13] Fred-Barclay commented on #64
Haha, no worries. :) I can't take credit - the functionality was added either by the platformio guys or @jeremyramin.

[2017-10-15 03:13] #64 closed

[2017-10-16 15:44] gregpasha opened #66 "Add Scrollbar"
I don't see a scrollbar and would like to be able to scroll my terminal. Would it be possible to add one?

[2017-10-19 01:17] timfallmk commented on #44
@Fred-Barclay This use case might seem esoteric, but there's a related bug where enabling Termination overwrites information placed in the status bar by other packages. I'll file a linked bug with more details.

[2017-11-13 13:27] hallaathrad opened #67 "Failed to activate the termination package"
Hey @Fred-Barclay. thanks for taking good care of us.
Once again the Atom update has broken the package, and this time it doesn't let you rebuild it, no matter how many times I've uninstalled and reinstalled it.

To be fair, I'm on 1.23.0-beta0, so I reckon the bug won't reach the mainstream in the next few days/weeks. But just a heads up before it does.
Here's the call stack:

TypeError: target[S

[2017-11-14 03:07] Fred-Barclay commented on #67
G'day @hallaathrad and thanks for the report!
I was a bit afraid we'd have this here after reading https://github.com/platformio/platformio-atom-ide-terminal/issues/403. The good news? It looks like it's already been fixed in Atom. :-) I don't know if the new beta with the fix has been pushed out yet or not.

[2017-11-14 03:09] hallaathrad commented on #67
Let's hope so! I'll check for updates in the next few days to see if the status changes and then update/close this issue. It seems like there's light at the end of the tunnel, judging from that other issue @ platformio.

Thanks for your quick response!

[2017-11-14 04:27] Fred-Barclay commented on #67
Awesome, thanks for keeping me in the loop!

[2017-12-28 00:25] Fred-Barclay commented on #67
With Atom 1.23.1 Stable on Windows 7 and Arch I'm not seeing this - I think it's safe to close. Thanks again! 👍

[2017-12-28 00:25] #67 closed

[2018-01-08 19:42] bgarrant opened #68 "Docks Integration?"
Any chance we can get this to work in Docks? It would be great if it was just next to the normal Diagnostics tab when open.  I noticed the original fork also does not have this feature.

![screen shot 2018-01-08 at 2 40 18 pm](https://user-images.githubusercontent.com/2436728/34689011-0f1c103c-f482-11e7-9a65-6b7ab0ab396d.png)

[2018-01-25 18:03] Fred-Barclay commented on #68
Hi @bgarrant
It would be awesome if this feature were added in 👍  -- unfortunately, at the moment I don't have time to actively develop it.

[2018-02-12 05:22] ebalaban commented on #65
Same here.
Atom 1.23.3 x64
Termination: 0.6.1
OS: Windows 7
Theme: one-dark

[2018-02-27 02:42] DannyMcGillick opened #70 "What is a terminal?"
Hey guys, I know it might sound silly at first, please don’t take this as snark :) I couldn’t find a definition for terminal anywhere in the Readme and I genuinely want to know what it opens on the different platforms. On windows is it command prompt, powershell or ubuntu for windows? Can I choose which one in config? It’d be great to have that communicated somewhere in the “terminal” section of t

[2018-02-27 03:13] Fred-Barclay commented on #70
G'day @DannyMcGillick !
On Windows, the default behavior is to open powershell, although you can set it to use cmd by default (which is what I do).
On Linux, macOS, and other *Nixes the default is bash - again, you can change it in the Settings >> Shell Override.
![shell](https://user-images.githubusercontent.com/11165995/36708595-5f5ed66e-1b39-11e8-9dd9-895f42868aec.png)

The relevant code snippe

[2018-02-27 03:36] DannyMcGillick commented on #70
Thankyou for being so understanding, and helpful!

On Tue, 27 Feb 2018 at 14:13, Fred Barclay <notifications@github.com> wrote:

[2018-02-27 03:38] Fred-Barclay commented on #70
No worries mate. Cheers!

[2018-02-27 03:38] #70 closed

[2018-03-21 14:15] norman123123 opened #71 "Terminal doesn't let me type anything"
The terminal doesn't initialize and it doesn't let me type anything. It won't print any errors or messages, just the blinking cursor.

<img width="1141" alt="screen shot 2018-03-21 at 11 15 16" src="https://user-images.githubusercontent.com/8712696/37714782-27cbd1ee-2cf9-11e8-8ddb-3a730c867ae9.png">

[2018-03-25 23:37] mdtdev commented on #71
I am having the same problem on OSX. I would report errors but no messages appear.

[2018-03-26 03:40] Fred-Barclay commented on #71
Sorry about this, guys. I believe it's the same issue our upstream is facing:
https://github.com/platformio/platformio-atom-ide-terminal/issues/493
https://github.com/platformio/platformio-atom-ide-terminal/issues/490
https://github.com/platformio/platformio-atom-ide-terminal/issues/477

They have a fix out, but it doesn't seem to be working for all users. I'll look into it and post back ASAP!

Ch

[2018-03-26 16:41] mdtdev commented on #71
Thank you for looking into this! If there is any additional information I can provide, let me know.

[2018-03-31 02:52] Fred-Barclay commented on #71
@norman123123 @mdtdev I've been puzzling over why I can't replicate this myself on my home system (Linux) but can on my work desktop (Windows 7), and then I realized I build from the latest code here on GitHub for my home desktop. So...
Can you please run the following for me and see if it helps:
[code]
Then check ~/.atom/packages/ to make sure that the Termination folder really is gone.
Finally,

[2018-03-31 08:36] nicman23 commented on #40
there should be info about 0 -> disables animation on the tooltip

[2018-03-31 15:52] Fred-Barclay commented on #40
@nicman23 Done, thanks!

[2018-03-31 19:24] mdtdev commented on #71
I can confirm that the above version `Fred-Barclay/Termination` works on my Windows 10 system. I will attempt to replicate this on OS X later today. I am not able to get to my Mac just now.

[2018-04-01 10:31] jameswilliamknight opened #72 "APM install fails"
Install command: `apm install termination`

stack trace:

[code]

[2018-04-01 15:57] mdtdev commented on #71
Sorry for the delay! I can confirm that the OS X version works for me, too. Thanks for the help!

When you push the fix, I assume that I have to APM uninstall the branch version then reinstall from the main the usual way?

Thanks for your work on this project!

[2018-04-05 16:02] Fred-Barclay commented on #71
@mdtdev Thanks! I've pushed the new version. You will have to `apm uninstall Termination` first, and then reinstall from main as usual.

Cheers and thanks for the help!
Fred

[2018-04-05 16:02] #71 closed

[2018-04-13 23:40] jhannwong opened #73 "Emacs keybindings in terminal-view"
Possible? I have [atomic-emacs](https://atom.io/packages/atomic-emacs) installed. Should I be using some better Emacs keybindings package?

[2018-04-20 07:42] AnthonyLenglet opened #74 "Automatically name terminals based on folder/file name"
Hi!
Automatically opening new terminals based on files and folders is great, however it can quickly create quite a few terminals and become hard to manage, and giving them default names would make this a lot more manageable!

[2018-04-24 06:34] JeroenVanOort commented on #65
Do you run any plugins? I too couldn't select any text since a few days and started disabling plugins (and restarting Atom after). This seems to have 'fixed' it. Couldn't quite pinpoint what plugin was the culprit though.

[2018-04-24 07:16] ebalaban commented on #65
Interesting, thanks for the tip @JeroenVanOort. I do use a number of plugins, will try disabling them one by one and see which one may be the culprit (not a perfect solution though, obviously).

I switched to using Atom Xterm in the meantime, by the way. Not as feature-rich as Termination, but is still quite nice and does what it's supposed to - including text selection...

[2018-04-26 02:29] Fred-Barclay commented on #65
Hi everyone,
I'm really sorry for not commenting sooner. Unfortunately, life has conspired to keep me from having much time for Termination right now. I've done and will keep on doing my best to keep it going (like pushing out new releases when upstream Atom changes mean that current versions of Termination quit working), but I just don't have time to do much active development for the program. :c

[2018-05-01 09:41] s00500 commented on #65
The issue seems to be documented there already, for me it was as simple as disableling the terminal features of atom-ide-ui (EnabledFeatures->Terminal->Never enable) platformio/platformio-atom-ide-terminal#467

[2018-05-08 14:12] JeroenVanOort commented on #65
@s00500 your workaround works for me, thanks.

[2018-05-27 15:42] xavalex commented on #54
Hi, I still have this issue with Atom 1.27.1 x64 and Termination 0.6.2. I also have it with the Platformio-ide-terminal package actually.

[2018-06-16 21:21] Fred-Barclay opened #75 "NEWS -- Let's keep Termination going!"
Hi everyone,
If you're reading this you've probably been linked here from a comment of mine on [platformio-atom-ide-terminal](https://github.com/platformio/platformio-atom-ide-terminal/). Unfortunately it seems that pio-terminal will no longer be actively developed: https://github.com/platformio/platformio-atom-ide-terminal/issues/514#issuecomment-384241678 and https://github.com/platformio/platfo

[2018-06-19 08:00] NiklasPetersonCityweb opened #76 "Can't get the terminal to work."
After running the command `npm install -g node-gyp` in Mac terminal and installing the Termination package into Atom and trying to open a new terminal inside Atom nothing happens.

Please help me out!

[2018-06-19 08:07] #76 closed

[2018-06-19 08:09] NiklasPeterson opened #77 "Can't get Termination to work."
After running the command npm install -g node-gyp in Mac terminal and installing the Termination package into Atom and trying to open a new terminal inside Atom nothing happens.

Please help me out!

[2018-06-22 17:20] JRetza commented on #77
Ditto - Termination stopped functioning:
![screen shot 2018-06-22 at 12 17 52 pm](https://user-images.githubusercontent.com/16158547/41789885-6430cd2c-7616-11e8-948a-500f6008acac.png)

@Fred-Barclay we'll take a look over the weekend - let us know if we can help with anything here.

[2018-06-26 00:35] the-j0k3r commented on #77
This wont work wit Atom 1.28 you need to upgrade your pty binaries to m57 for compatibility with electron 2.0.3, only thing you can do is compile them or upgrade to node-pty-prebuilt which also has no working windows binaries for electron 2.0.3 for 0.7.5 relase

[2018-06-26 01:56] Fred-Barclay commented on #77
Hey guys,
Termination 0.6.3 is out which should fix this. Please update and let me know!

[2018-06-26 18:49] Fred-Barclay commented on #65
Just as a follow-up, we've merged in a commit from upstream that may solve this issue: b144abafc31dbeeadf53253b8b84fc1b36acbe64

It's been released in Termination 0.6.3. :smile:

[2018-06-27 17:56] #77 closed

[2018-06-27 17:56] #65 closed

[2018-06-29 14:13] octoquad commented on #72
Works ok without Atom being packaged as a Snap:

[code]

[2018-06-29 22:16] jameswilliamknight commented on #72
No more snapping for me then. Thanks @octoquad

[2018-06-29 22:16] #72 closed

[2018-06-30 15:05] canderis opened #78 "Feature Request: Rename color names in settings"
I like to use particular colors to represent what is running in each terminal, such as a node server, angular dev server, mongo, and ssh.
I overrode some of the colors but it would be nicer if I could rename the colors so that Orange wasn't pointing to a green!

Would be cool to be able to add a few more too.

[2018-07-05 23:03] lukecrum opened #79 "Programatically Execute Command"
Hello, I was looking to programmatically execute a command in Termination. Basically I'm writing a small package that allows some basic commands to be easily accessible in atom and having the output displayed in the terminal window. I've been able to open the window up programmatically but have had no luck inserting a command in the window. Any help would be greatly appreciated!

[2018-07-08 15:46] Dan9er commented on #65
Confirmed fixed on my machine.

[2018-07-09 15:16] pooriamo opened #80 "Keeps blinking"
Hi

I used to use Platformio but I had the problem that the cursor kept blinking and I couldn't type. So I switched to Termination. But the same thing is still happening!

OS: Windows 10 64-bit 10.0.17134
Atom version: 1.27.2
Termination: Latest

[2018-07-12 09:03] Sandip-coder opened #81 "Uncaught channel closed"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.28.1 x64
**Electron**: 2.0.4
**OS**: Microsoft Windows 10 Home
**Thrown From**: [termination](https://github.com/Fred-Barclay/Termination) package 0.6.3

### Stack Trace

Uncaught channel closed

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-07-31 14:18] sfeldkamp opened #82 "Keyboard shortcut to unfocus terminal panel"
There is a command (and mapped keyboard shortcut) to focus the termination panel.  Add one to unfocus it or make it toggle the terminal focus.

Reference: https://github.com/platformio/platformio-atom-ide-terminal/pull/218

[2018-08-31 10:41] Yajan opened #83 "Failed to load the termination package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.32.0-dev-7865464 x64
**Electron**: 2.0.7
**OS**: Microsoft Windows 10 Pro N
**Thrown From**: [termination](https://github.com/Fred-Barclay/Termination) package 0.6.3

### Stack Trace

Failed to load the termination package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-09-05 01:57] ebalaban commented on #65
Works on my end now as well. Thanks for following up on this!

[2018-10-24 08:55] mean-cj commented on #61
i confirm CTRL + C _doesn't_ work with termination

powershell , cmd , putty work with ctrl+c

[2018-10-27 12:59] paulrm opened #84 "Error at open Termination"
I got the following two lines before the bash prompt

[code]
any Idea who to debug and fix?

OS: openSUSE Leap 42.3
Atom: 1.26.1
Termination: 0.6.3

[2018-12-07 17:57] trusktr opened #85 "unable to type backslash \ in terminal"
Hello, this is by far the best terminal package for Atom. Nice work!

One issue I have is I can't type a backslash (`\`) in the terminal. I can get by without it, but thought I'd open an issue. Any ideas?

[2018-12-13 02:12] ronasimi commented on #80
Was a solution ever found for this?

[2018-12-25 16:48] Fred-Barclay commented on #85
Hi @trusktr,
Sorry for the late reply. :smile: What OS/distro are you using? I can't replicate this on Windows 7 or any Linux distro I've tried.
Cheers!
Fred

[2018-12-25 16:58] Fred-Barclay opened #86 "Terminal does not load on Arch"
Problem: Can't type in terminal. It loads but only a blinking cursor is shown.

Occurs: Only observed on Arch Linux.

Atom info:
[code]

Steps to reproduce:
1. Start Atom
2. Open termination

__This appears to be an incompatibility with the pty.js backend. I'll keep this updated as I learn more.__

Relevant debug warnings:

[code]
[code]

[2018-12-25 19:38] lectrode commented on #86
For anyone looking for a "quick" workaround, the [flatpak package](https://flathub.org/apps/details/io.atom.Atom) for Atom works.

[2018-12-25 22:51] wpfan2099 commented on #86
hello dear all - i am  workin on manjaro - and i also am not able to run termination.
plz advice...
ps . keep up the great project - it rocks

[2019-01-01 08:46] the-j0k3r commented on #86
@Fred-Barclay feel free to pull the patch node-pty-prebuilt and change authors, see `git commit --amend --author="Author Name <email@address.com>"`

[2019-01-01 17:56] #86 closed

[2019-01-01 18:07] Fred-Barclay commented on #86
Excellent, thanks @the-j0k3r :smile:

This issue should be closed now. Please update and let me know if there are still any problems.
Cheers!

[2019-01-01 21:36] wpfan2099 commented on #86
Many many Thanks.  Ive been waitin for this fix . IT IS wanted and needed
Herr so badly greetings Martin

Am Di., 1. Jan. 2019, 09:46 hat the-j0k3r <notifications@github.com>
geschrieben:

[2019-01-09 16:43] Fred-Barclay commented on #80
I'll close for now since this seems to have fixed in 9eb2296fecfd44092d7f5a1e267e563e046b07f7. Let me know if this is still an issue!
Fred

[2019-01-09 16:43] #80 closed

[2019-01-09 16:44] Fred-Barclay commented on #85
Closing for now (hopefully 9eb2296fecfd44092d7f5a1e267e563e046b07f7 squashed this). Feel free to re-open if this is still an issue!

[2019-01-09 16:44] #85 closed

[2019-01-09 16:45] Fred-Barclay commented on #84
@paulrm Does this issue still exist in the latest version of Termination (v0.7.1)?

[2019-01-09 16:46] Fred-Barclay commented on #83
Since this was for Atom 1.32-dev and now 1.34 has been released to stable, I'll close. Thanks for the report!

[2019-01-09 16:46] #83 closed

[2019-01-10 05:14] IlyaOrson opened #87 "cmatrix hangs the terminal and atom"
I was playing with some of the terminal funny commands from [here](https://www.tecmint.com/20-funny-commands-of-linux-or-linux-is-fun-in-terminal/) and noticed that cmatrix quickly makes Atom hang. Not sure if this is an Atom problem actually, but this runs just fine in VS Code terminal.

[2019-01-11 16:02] djpeach commented on #74
I'm going to take a hack at this

[2019-01-13 04:22] ekopras18 opened #88 "Uncaught Error: Cannot find module '$ATOM_HOME/packages\termination\lib\process.coffee'"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.34.0 x64
**Electron**: 2.0.16
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [termination](https://github.com/Fred-Barclay/Termination) package 0.7.1

### Stack Trace

Uncaught Error: Cannot find module 'C:\Users\Pras\.atom\packages\termination\lib\process.coffee'

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-01-15 23:41] Fred-Barclay commented on #88
Hi @ekopras18 that's really strange. Can you verify that C:\Users\Pras.atom\packages\termination\lib\process.coffee does in fact exist? If so maybe something went wrong during installation -- I would try removing Termination and then reinstalling it.

Cheers!
Fred

[2019-01-16 19:47] TristanBrotherton opened #89 "Add support for terminal panes"
Thank you for this fork and your hard work!

I'd love to be able to have panes in termination, so I can have two terminals side by side ala iterm

[2019-01-19 08:33] djpeach commented on #74
So this is my first time with atom packages or coffescript, so it's been a bit slow tonight. BUT I got the basic concept working.

The current state:

* The user's current directory is derived based on the currently opened file in the editor.
* That is then used to populate the initial name of the terminal via the `statusIcon`'s `updateName()` method.
* A '/' is appended to the end of the name to

[2019-01-19 10:07] djpeach commented on #74
Ok after a couple more hours of trial and error, and docs that contradict reality, I'm giving up on the tree-view thing. I know there has got to be a way to do it, and I just don't understand coffee script import and atom packages services well enough to do it.

If you can tell me how, I might try it again another day, but for now I think I will submit the PR as-is and let this be another feature

[2019-01-19 21:43] Fred-Barclay commented on #74
@djpeach Thanks! I'll review the PR and hopefully we'll get this merged quickly!

[2019-01-20 04:19] Fred-Barclay commented on #88
Closing for now. @ekopras18 feel free to reopen if this is still an issue!

[2019-01-20 04:19] #88 closed

[2019-01-20 04:20] Fred-Barclay commented on #84
Closing for now. @paulrm please feel free to reopen if this is still an issue for the latest release. :smile:

[2019-01-20 04:20] #84 closed

[2019-01-20 04:30] Fred-Barclay commented on #55
Closing -- please see comments in https://github.com/Fred-Barclay/Termination/issues/33#issuecomment-455836813. We now use `node-pty-prebuilt` so this shouldn't be an issue.

[2019-01-20 04:30] #55 closed

[2019-01-20 04:35] canderis commented on #78
I honestly forgot about this!
I believe I had changed the "Orange" color in the settings to point to a green color but it still said orange even though the color was actually green.

I switched to a different IDE now, however, so I no longer have that configuration to show.

[2019-01-20 05:05] Fred-Barclay commented on #78
Oh, I see. Thanks! I'll close this then. :smile:

[2019-01-20 05:05] #78 closed

[2019-01-21 06:34] djpeach commented on #43
@Drabc @stillworks how do you envision this working? The terminals are saved on a per-project basis? And where would you think is best to save them? A “save current editors” button or something in the settings? Let me know, I may look into this!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-21 06:35] djpeach commented on #79
Is this still something you are looking into? @lukecrum

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-21 14:43] kkdd commented on #28
It sounds great! Thank you for your plan.

[2019-01-21 20:47] qub1750ul opened #91 "Disabling "Clone Terminal-Plus" disables the termination UI"
It's still possible to open terminals using hotkeys or the command palette,
but there is no trace of termination in the status bar, making impossible to manage open terminals.
I've tried the fix proposed in #41 , but it had no effect.
Also changing the theme had no effect.
Maybe related to #44 ?
[code]

P.S.
I really wish to thank you for this fork !

[2019-01-21 21:46] qub1750ul commented on #91
Ok, i've managed to fix this by editing CSS as visible in the images.
There are two divs that don't inherit from the ```inline-block``` class
![2019-01-21-223619_1366x768_scrot](https://user-images.githubusercontent.com/20952171/51500211-8ea21980-1dcd-11e9-89de-420346f10cda.png)
![2019-01-21-223647_1366x768_scrot](https://user-images.githubusercontent.com/20952171/51500210-8e098300-1dcd-11e9-9565-

[2019-01-22 15:38] Drabc commented on #43
@djpeach It has been a while, but my scenario is that I develop using Vagrant. I usually run commands like `vagrant up && vagrant ssh` when I open the project. What I see is, in the settings, being able to specify tabs to open with some command(s) like the ones mentioned above.

In terms of where to save the settings, I can see a file being saved in the project folder or saving the settings intern

[2019-01-23 22:54] trusktr opened #93 "When closing the terminal by keyboard shortcut, the text editor does always gain focus again."
Sometime the text editor does gain focus again, but I'm not sure what I did in the cases when it doesn't.

So I end up having to go the touchpad or mouse and then click on the editor to use it.

It'd be nice if maybe there was an option to force `termination:toggle` command to always focus the current tab's editor (or if there's multiple panes, maybe the last used tab?).

[2019-01-23 22:57] trusktr commented on #93
Ah, think I found what causes it: when the window loses focus!

When it works: If I open the terminal while I am in a text editor, then close the terminal, the editor gains focus again as expected.

When it doesn't work: If I open the terminal while I am in a text editor, then switch to another window (another app, or even just another Atom window), then return, then close the terminal, the editor

[2019-01-23 22:58] trusktr commented on #93
I can confirm exactly the same thing with the file explorer. For example, without switching windows, if I start in the file explorer, open terminal then close terminal, I end up back in the file explorer. But if I switch windows then come back before closing the terminal, then focus goes nowhere (or somewhere but I've no idea where).

[2019-01-23 22:59] trusktr commented on #93
One way I can work around this is to just always close the terminal when I'm done with it. That way any time I need it, I open it, use it, close it. Then I return to where I was focused. At this point switching windows will not lose the focus.

[2019-01-24 22:19] trusktr opened #94 "How to override terminal keys?"
For example, when I press `ctrl-h`, I'd like to run an Atom command instead of sending `^H` to the terminal. How can I do this?

I tried

[code]

but it doesn't work.

I can do

[code]

and that works.

[2019-01-26 04:12] Fred-Barclay commented on #93
Hi @trusktr Sorry about that. I'll see if I can figure out what's going on. :smile:

[2019-01-28 12:18] iovo79 commented on #58
Still facing the problem in
Windows 7 professional Sp1
x64.

Any updates ?

[2019-01-29 01:00] Fred-Barclay commented on #58
@iovo79 are you running the latest release of Termination (0.7.1) and the latest Atom?

[2019-01-29 09:32] iovo79 commented on #58
Yes
I use Atom 1.34.0
and Termination 0.7.1

PS. thanks for the fast reply

[2019-02-18 19:17] trusktr commented on #93
I noticed another way to trigger it: using only keyboard shortcuts (haven't tested with mouse) do the following: toggle terminal open, switch to next or previous terminal, toggle terminal closed. Then notice the panel you return to has no focus. The focus seems to have gone into oblivion until we click somewhere with the mouse.

[2019-02-18 19:19] trusktr opened #95 "I don't see any termination commands or UI in Windows"
When I try Atom in Windows with the Termination plugin, there's no UI at the bottom, and the command palette shows no Termination commands.

Does it work in Windows?

[2019-02-19 00:46] Fred-Barclay commented on #95
It works for me on Windows 7, and when I last used it on Windows 10 as well (but that's been a while). What version are you using?

[2019-02-27 02:18] lordofdestiny commented on #26
I just installed Atom and Termination and I'm getting this deprecation now. Is it really fixed, because my Atom freaked out?

[2019-02-28 02:45] Fred-Barclay commented on #26
@lordofdestiny yep, it was accidentally reverted in d4190a1c2773bfc2bd517178a1fc138a4c85e4e3. :fearful: Thanks for reporting! Fixed in 4e8ed893b81960894cdfe10692181906f1b50372

That said, dragging a terminal tab to the file tab bar no longer works and I'm not quite sure why...

[2019-03-23 13:03] Jakkalsie commented on #88
Hey Fred
I have been getting the same error with the package, but my whole lib folder is not even there to begin with. Does it matter if I use Windows?

[2019-03-23 15:20] Fred-Barclay commented on #88
@Jakkalsie It shouldn't matter -- I use Windows 7 at work and termination works fine there. Strange.

Maybe try the old "uninstall and reinstall"?

[2019-03-23 18:35] Jakkalsie commented on #88
It worked thanks!

[2019-06-16 18:25] CyberPi commented on #79
This is interresting for me as well.
I wanted to write an addition for the tool-bar to execute the docker-machine and eval commands.
I know that there is an option to make auto commands on shell startup, but I wanted to have a better control over this kind of stuff.

[2019-07-12 15:36] BrennanAyers opened #96 "Uncaught TypeError: Cannot set property 'innerHTML' of undefined"
Enter steps to reproduce:

1. Be using Termination as normal
2. Have files to commit in Git
3. Have a prebuilt COMMIT_EDITMSG
4. Type `gc`, which opens `vi` to edit commit message
5. Throw Exception

This is the current commit message that I believe started these issues, as we had been using this workflow for the previous hours/days.
This exception only gets thrown in Termination, using normal Mac

[2019-07-12 15:36] BrennanAyers opened #97 "Uncaught TypeError: Cannot set property '0' of undefined"
Enter steps to reproduce:

1. Be using Termination as normal
2. Have files to commit in Git
3. Have a prebuilt COMMIT_EDITMSG
4. Type `gc`, which opens `vi` to edit commit message
5. Throw Exception

This is the current commit message that I believe started these issues, as we had been using this workflow for the previous hours/days.
This exception only gets thrown in Termination, using normal Mac

[2019-07-27 00:07] BrennanAyers commented on #97
This is something that popped up after I tried to reenable the package today. I think it's unrelated to the above issue, but it might not be. For context, I installed Python 3.7.4 just this previous week, after the above issue cropped up.

[code]

[2019-08-01 13:28] the-j0k3r commented on #68
duplicate of #49

[2019-08-04 22:12] Fred-Barclay commented on #96
Hi @BrennanAyers
I'm sorry for the late reply. I wasn't able to find a way to debug this since I don't have access to macOS.

I've just pushed out a new release and Atom has been updated to 1.39. If you're able, can you let me know if this problem still persists with the newer versions?
Cheers!
Fred

[2019-08-04 22:13] Fred-Barclay commented on #95
Closing for now. @trusktr feel free to re-open if this is still an issue

[2019-08-04 22:13] #95 closed

[2019-08-05 00:06] Aerijo opened #98 "404 Not Found: node-pty-multiarch"
Looks like the module name should be [node-pty-prebuilt-multiarch](https://www.npmjs.com/package/node-pty-prebuilt-multiarch)

[2019-08-05 00:19] Fred-Barclay commented on #98
On it, thanks!

[2019-08-05 00:23] #98 closed

[2019-08-05 00:25] Fred-Barclay commented on #98
@Aerijo Thank you so much, it should be fixed now! :smile: :tada:

[2019-08-05 00:27] Aerijo commented on #98
Yup, it works

[2019-08-05 07:30] aviatesk commented on #98
Can this solve the build problem within Electron v3 (And hopefully v4 as well) ?

[2019-08-05 07:33] Aerijo commented on #98
@aviatesk The current release should handle all current Atom versions (Nightly is on Electron 4).

[2019-08-05 07:47] aviatesk commented on #98
@Aerijo
On Windows 10, I got the error below in console and terminal just doesn't work...
[code]

[2019-08-05 08:07] aviatesk commented on #98
Umm reinstall stuff doesn't seem to help.

[2019-08-05 08:13] aviatesk opened #99 "Can't launch terminal on Windows 10"
First off, thanks for making this useful package !

After updating to `v0.7.3`, even though I could update the package successfully, but when try to actually launch a terminal, it doesn't work and the console shows the error below:

[code]

Thanks for your help in advance !

[2019-08-05 08:14] aviatesk commented on #98
Opened up the new issue #99 :)

[2019-08-05 08:18] Aerijo commented on #99
https://github.com/oznu/node-pty-prebuilt-multiarch/issues/1

[2019-08-05 08:35] aviatesk commented on #99
Thanks.
Manually changing to `"node-pty-prebuilt-multiarch": "0.9.0-beta21.1"` and rebuilding the package just worked.

[2019-08-07 08:37] philip-hodder-ln commented on #99
I have the same issue on Windows 10, but not on my Mac. Tried to go back to 0.7.1 using `apm install termination@0.7.1` but get a whole screenfull of error messages:

[code]

[2019-08-08 11:59] Zoddo commented on #99
Hi,

I have the exact same issue.

@aviatesk Can I know how you rebuild the module? I'm not familiar with apm…

[2019-08-10 01:20] Fred-Barclay commented on #99
Hi folks, I'm sorry, this is a sticky issue. I'm hesitant to move to node-py-prebuilt-multiarch 0.9 since it's still in beta but it seems that may be the best choice.

I'm keeping an eye on our upstream, in particular https://github.com/platformio/platformio-atom-ide-terminal/pull/764. I'll push out a new release as soon as it's merged (or sooner if it takes too long).

@philip-hodder-ln I would s

[2019-08-11 19:05] Fred-Barclay commented on #99
Hi everyone, can you try...
[code]

Hopefully the issue is fixed and I can make a proper release soon but would really appreciate feedback if this worked.

Thanks!
Fred

[2019-08-11 19:18] aviatesk commented on #99
@Fred-Barclay Yep, it works nicely :) Thanks for the patch and looking forward to the release !

[2019-08-11 21:43] Fred-Barclay commented on #99
Thanks, bugfix should be released now! :smile:

[2019-08-11 21:43] #99 closed

[2019-08-12 21:43] BrennanAyers commented on #96
Hey @Fred-Barclay
No worries, I've been busy as well. It has also been good to get used to the Alt-Tab workflow again 😄
I just made sure Atom was updated, and reinstalled the package. Everything seems to be working well so far, I was able to get the `gc` Vi instance going and nothing would crash. I also checked out the [Platform-IO-IDE Terminal](https://github.com/platformio/platformio-atom-ide-te

[2019-08-12 21:43] #96 closed

[2019-08-12 21:43] BrennanAyers commented on #97
Refer to #96

[2019-08-12 21:43] #97 closed

[2019-08-12 23:36] Fred-Barclay commented on #96
That's great, thank you! :smile:
Fred

[2019-08-13 07:49] philip-hodder-ln commented on #99
Works for me on both Mac and Windows 10, Thanks!

[2019-08-14 13:26] scheemik opened #100 "Broken after updating to 0.7.4"
I updated to version 0.7.4 and now the terminal window will show up, but with no prompt. Just a blinking cursor but I can't enter any text

[2019-08-16 21:13] mbidewell opened #101 "Strange errors launching termination"
When I fire up Termination (or any platformio-ide-terminal fork) in Atom on Fedora 30.  I get the following errors:

/usr/bin/sh: switchml: line 1: syntax error: unexpected end of file
/usr/bin/sh: error importing function definition for `switchml'
/usr/bin/sh: module: line 1: syntax error: unexpected end of file
/usr/bin/sh: error importing function definition for `module'
/usr/bin/sh: switchml:

[2019-11-06 08:06] the-j0k3r commented on #100
@scheemik uninstall and reinstall with latest Atom and latest Termination.

[2019-11-12 20:10] Alonzo-Coeus opened #102 "Cannot type specific characters into the terminal"
I cannot type the characters "a, c, n, p, q, r or v" into the terminal. apart fro this the terminal works fine. If anyone can help be resolve this it would be most helpful.

[2019-11-13 01:07] RenaKunisaki commented on #89
I'm not sure if this is the same thing, but I'd love to have a terminal as a "normal" editor tab.

[2019-11-18 16:59] baogorek commented on #82
It sure sounds like it was solved in the linked pull request, but it sure doesn't seem like it. Alt+\ is a workaround at least.

[2019-11-27 20:59] calebmeyer opened #104 "Uncaught TypeError: Cannot read property 'stopScrolling' of undefined"
## Steps to Reproduce

1. Add the following to your init.coffee:
[code]
2. Set custom text 1 in the settings to:
`rspec $D/$F:$L`

## Notes
I think I understand why this is. When I create the new terminal (via dispatching the new command), I don't wait for it to be done creating before I try to send text to it.

What I'd really like to do:
- Have a way to create or reuse a terminal (probably toggl

[2020-01-26 23:43] allefeld opened #105 "Prevent keys bound in Atom from being captured by xterm.js"
I would like to use a function key (F4) to toggle the terminal:

[code]

This works to open a terminal, but not to hide it again. I believe the reason is that `xterm.js` captures the keyboard event, because F4 is one of the keys that can be translated into an escape sequence.

`xterm.js` provides a way to intercept its keyboard event capture: [attachCustomKeyEventHandler](https://xtermjs.org/docs/

[2020-01-27 07:45] the-j0k3r commented on #105
Neither termination nor [terminus ](https://github.com/bus-stop/terminus) nor platformio-ide-terminal support xterm.js

[2020-01-27 16:01] allefeld commented on #105
Sorry, my mistake.

[2020-01-27 16:01] #105 closed

[2020-02-27 09:27] the-j0k3r commented on #100
Fixed anywho with https://github.com/bus-stop/Termination/commit/0e4a3dc6691b65c171e46b6e22b8f292a08c4971

[2020-02-27 09:27] #100 closed

[2020-02-27 09:30] the-j0k3r commented on #89
Both [terminus](https://github.com/bus-stop/terminus) and [x-terminal](https://github.com/bus-stop/x-terminal) support this

[2020-02-27 09:34] the-j0k3r commented on #66
[x-terminal](https://github.com/bus-stop/x-terminal) supports this, as its xterm based, this isnt likely to happen without xterm. Since this uses term.js which is no longer developed try x-terminal

[2020-02-27 09:36] the-j0k3r commented on #68
closed as duplicate

[2020-02-27 09:36] #68 closed

[2020-02-27 09:37] the-j0k3r commented on #89
Also duplicate of #49 closing

[2020-02-27 09:37] #89 closed

[2020-02-27 09:41] the-j0k3r commented on #49
#68 was a dupe of this

[2020-02-27 09:43] the-j0k3r commented on #35
this has been fixed by node-pty-prebuilt and atom 1.41.0 and newer

[2020-02-27 09:43] #35 closed

[2020-04-17 13:22] BeastyBlacksmith opened #106 "[FR] Terminal in folder for foreign files"
### Describe the feature you'd like
Generally I like setting the terminal to be in the `project` directory, but sometimes I open files from another location and would need a terminal in that folder. But currently thats not possible without changing it globally to `file` or `folder`.

So I would propose either to have it as a default of the `project` setting, that when opening a terminal from a non

[2020-04-20 18:25] BeastyBlacksmith opened #107 "[FR] Cause Focus to toggle, when terminal closed"
### Describe the feature you'd like
If the terminal is hidden and `termination:focus` is used it should trigger `termination:toggle` before focusing.

[2020-05-21 00:03] madjoe opened #108 "[BR] Printing special characters with Python"
- [ ] I have reset Atom to defaults prior to submitting report.
- [x] I have not reset Atom to defaults prior to submitting report.
- [x] I have tried uninstalling/reinstalling the terminal.
- [ ] I have not tried uninstalling/reinstalling the terminal.
### Description
if you try to execute in Termination the following Python command:
`print("★"*5)`
... it will print only 3 stars. But if you try t

[2020-05-22 09:08] mahtDFR opened #109 "[BR] Command prompt doesn't appear in new terminal until after keypresses"
- [ ] I have reset Atom to defaults prior to submitting report.
- [X] I have not reset Atom to defaults prior to submitting report.
- [X] I have tried uninstalling/reinstalling the terminal.
- [ ] I have not tried uninstalling/reinstalling the terminal.
### Description

When opening a new terminal, the command prompt doesn't appear until I press any key twice.

### Steps to reproduce

1. ``ctrl-`

[2020-05-22 11:33] pisulski opened #110 "[Q] How to change colors in atom termination terminal."
**xxx@xxx**:**~/.atom/packages/termination/styles$**
Please help me to do it.
I want to change color for path line in terminal.
Similar function to platformio-ide-terminal.

Regards

[2020-05-25 19:23] JulienGAMartin opened #111 "[BR] Crtl-C for Sigint not working"
- [ x] I have reset Atom to defaults prior to submitting report.
- [ ] I have not reset Atom to defaults prior to submitting report.
- [ x] I have tried uninstalling/reinstalling the terminal.
- [ ] I have not tried uninstalling/reinstalling the terminal.
### Description

trying to kill a process in the terminal using keyboard shorcut Crtl-C in linux. It is simply not working and nothing is happen

[2020-05-27 02:03] Fred-Barclay commented on #111
Hi @JulienGAMartin
Thanks for the report! This one's a bit weird, I can see it on my Debian 10 machine but also Atom 1.47.0 is plagued on debian-based systems by https://github.com/atom/atom/issues/20756

Would you be willing to downgrade to Atom 1.46.0 and see if the problem persists there? It seems to be working fine for me on this version so not sure if the issue is with us or Atom yet.
If so,

[2020-05-27 13:31] JulienGAMartin commented on #111
Hi
so I have done a few more test. crtl-c is working to stop a running process that is waiting or running in the background apparently. So for example this short python infinite loop can be stopped using crtl-c
`var = 1
while var == 1 :  # This constructs an infinite loop
  num = int(input("Enter a number  :"))
  print ("You entered: ", num)

`

However, if the process is printing then crtl-c is n

[2020-05-28 20:17] rng70 opened #112 "[FR] : Open terminal at right side instead of bottom"
When a new terminal is opened currently it is opening at the bottom of the editor. Suppose
![image](https://user-images.githubusercontent.com/45529910/83188956-4a0d5780-a152-11ea-8a1f-da0e332c4c20.png)
)
but it will be helpful if it is opened at the right side instead of bottom. I'm sorry I can't provide any additional image because I don't have a right-side panel based photo.

[2020-05-28 20:40] UziTech commented on #112
You can try [x-terminal](https://atom.io/packages/x-terminal), which allows you to move the terminal to any panel or dock.

[2020-05-29 05:33] rng70 commented on #112
@UziTech thanks ... actually I was looking for it ... for both cased I have seen that both was developed by bus-stop and so I am closing this [FR]. again  thank you.

[2020-05-29 05:33] #112 closed

[2020-06-11 18:06] RenaKunisaki opened #113 "Uncaught Channel closed"
[Enter steps to reproduce:]

1. Press Ctrl+\` to open terminal while CPU usage is high
2. Get this message upon opening and when pressing Ctrl+C in the terminal pane

**Atom**: 1.45.0 x64
**Electron**: 4.2.12
**OS**: "Arch Linux"
**Thrown From**: [termination](https://github.com/bus-stop/Termination) package 0.7.6

### Stack Trace

Uncaught Channel closed

[code]

### Commands

[code]

### Non-Cor

[2020-06-11 20:07] RenaKunisaki commented on #113
After doing a system update and rebooting, the terminal pane won't open at all.

[2020-06-20 12:57] AirKetchPLAYZ opened #114 "[BR] Apm install failed"
- [ ] I have reset Atom to defaults prior to submitting report.
- [X] I have not reset Atom to defaults prior to submitting report.
- [ ] I have tried uninstalling/reinstalling the terminal.
- [X] I have not tried uninstalling/reinstalling the terminal.
### Description

### Steps to reproduce

1. Have atom installed
2. apm install termination

**Expected behavior:**
It installs normally

**Actual

[2020-06-20 13:13] the-j0k3r commented on #114
Its an APM issue not the terminal. The repo for APM is https://github.com/atom/apm/issues  probably already open issues havent checked.

[2020-06-20 13:13] #114 closed

[2020-09-03 16:11] george-kirillov opened #115 "[BR] Sudo not working"
- [X] I have reset Atom to defaults prior to submitting report.
- [ ] I have not reset Atom to defaults prior to submitting report.
- [X] I have tried uninstalling/reinstalling the terminal.
- [ ] I have not tried uninstalling/reinstalling the terminal.
### Description

I can not run some applications such as kubectl vagrant and any actions require sudo
but everything works in the native terminal.

[2020-09-03 16:24] UziTech commented on #115
looks like a duplicate of https://github.com/bus-stop/terminus/issues/84

[2020-09-03 16:26] UziTech commented on #115
This should be resolved once Atom upgrades to electron v6+

[2020-09-03 20:51] the-j0k3r commented on #115
That or downgrade Atom, no point keeping this open either

[2020-09-03 20:51] #115 closed

[2020-09-04 06:31] the-j0k3r commented on #113
@RenaKunisaki there are other terminal projects you may like to try, see https://github.com/bus-stop

[2020-09-04 06:33] the-j0k3r commented on #106
You could try https://github.com/bus-stop/x-terminal, this supports project folder but not file or folder and also wont map the terminal to file or folder either.

[2020-09-21 11:21] sveiaam opened #116 "[Q] Is it possible to run "atom" command from termination terminal?"
### I would like to be able do the following

1. I would like to run the 'atom' command to open (and then edit) files from the termination terminal.
2. Most commands I have tried in the termination terminal works, but specifically those starting with 'atom' give the error message: "need to run as root or suid"
3. Running "sudo atom ..." yields the error message "sudo: effective uid is not 0, is /u

[2020-09-21 13:31] UziTech commented on #116
Looks like you are running into this error: https://github.com/bus-stop/terminus/issues/84

[2020-09-21 13:35] sveiaam commented on #116
Yes. But why does atom need sudo privileges in the first place? It does not need sudo to be called with the recular terminal.

[2020-09-21 13:57] UziTech commented on #116
Not sure. I am on windows and it seems to work fine for me.

[2020-09-21 14:27] the-j0k3r commented on #116
Its an electron 5.0.13 issue, a fix has been merged into atom and will be available in 1.52.0-beta0 and later releases.

[2020-09-21 14:27] #116 closed

[2020-09-21 14:53] sveiaam commented on #116
Aight, thanks for the replies!

[2020-11-06 21:28] #101 closed

[2020-11-07 22:19] dayloks opened #117 "trims the last characters from the bottom if the caret is at the very bottom of the screen"
trims the last characters from the bottom if the caret is at the very **bottom of the screen**
(if you print underscores, they are not displayed at all)

[2020-11-07 22:20] dayloks opened #118 "[BR] trims the last characters from the bottom if the caret is at the very bottom of the screen"
trims the last characters from the bottom if the caret is at the very **bottom of the screen**
(if you print underscores, they are not displayed at all)

[2020-11-07 22:53] #117 closed

[2020-11-07 22:53] UziTech commented on #117
duplicate of #118

[2020-11-07 22:56] UziTech commented on #118
Can you give us steps to reproduce this? versions of os/atom/termination? a gif showing the behavior would also help.

[2020-11-08 07:34] dayloks commented on #118
win7
atom 1.52.0 x64
termination 0.7.6

the problem has been corrected as follows:
styles.less

div.terminal {
	top:-5px;
	margin-top: 5px;
}

[2020-11-08 07:34] #118 closed

[2020-12-24 14:05] Mi-la-la commented on #110
I had the same question, and you're the only person I found online who was asking for this.  I couldn't find any answers, so I set about working it out and eventually found the following steps to be successful. I use the Homebrew theme.

This worked on MacOS:
- Open Atom settings for Termination, then click 'View Code' (alternatively, navigate to ~/.atom/packages/termination).
- From here, navigat

[2020-12-24 15:23] the-j0k3r commented on #110
What? Just use terminus which is a fork/clone of platformio

[2020-12-27 12:54] the-j0k3r commented on #110
The solution is never to actually edit any source files, any such edits are unsupported and will be lost on next update, the solution is always to use style.less in Atom, the same as described in the projects readme https://github.com/bus-stop/Termination#themes

[2020-12-27 15:46] Mi-la-la commented on #110
Thank you, this is very useful advice.

I have successfully added the code which overrides the [/styles/themes/homebrew.less](https://github.com/bus-stop/Termination/blob/master/styles/themes/homebrew.less) settings. I will update the original post to reflect this way of doing things.

Still, I can't work out how to override the [/lib/themes/homebrew.coffee](https://github.com/bus-stop/Termination

[2020-12-27 16:42] the-j0k3r commented on #110
Idk if termination refreshes the styles automatically, you may need to close any open terminals and reopen to see the change,

I dont use termination but I know it works in terminus/x-terminal just fine

[2021-01-05 01:34] Fred-Barclay commented on #110
Styles are refreshed automatically, but sometimes some old bits are left behind so it's usually cleanest to just close and reopen the terminals.

[2021-05-15 14:05] Ojas1804 opened #120 "Gets hang when infinite loop is encountered[BR]"
- [x ] I have reset Atom to defaults prior to submitting report.
- [ ] I have not reset Atom to defaults prior to submitting report.
- [x ] I have tried uninstalling/reinstalling the terminal.
- [ ] I have not tried uninstalling/reinstalling the terminal.
### Description

When a program encounters an infinite loop, the whole terminal window gets hanged. The cross button to close the terminal windo

[2021-05-21 17:10] Fred-Barclay commented on #120
Hi @Ojas1804 and thanks for the report!

I'm unable to replicate this on my system (macOS) with the following script.
[code]

When saving and running this in the prompt as  `python infinite.py`, pressing the red "X" closes the terminal window.

Can you provide an example of a script in which this behavior occurs?

Thanks!
Fred

[2021-06-15 06:32] zeynepkiymik opened #121 "Uncaught Error: Cannot find module './input-dialog'Require stack:- $ATOM_HOME/packages\terminat..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.57.0 x64
**Electron**: 9.4.4
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [termination](https://github.com/bus-stop/Termination) package 0.7.6

### Stack Trace

Uncaught Error: Cannot find module './input-dialog'
Require stack:
- C:\Users\zynpk\.atom\packages\termination\lib\view.coffee
- C:\Users\zynpk\.atom\packages\termination\lib\sta

[2021-06-15 13:58] the-j0k3r commented on #121
Bad install or upgrade, the gremlins, =)

1. Close Atom (all instances)
1. Remove `~/.atom/packages/termination`
1. run on an external terminal `apm install termination`
1. Open Atom profit

It works otherwise in all OS's with sane Atom installs

[2021-09-01 03:21] mertkaan33 opened #122 "Uncaught Error: Cannot find module '../src/term'Require stack:- $ATOM_HOME/packages\termination..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.58.0 x64
**Electron**: 9.4.4
**OS**: Microsoft Windows 10 Home
**Thrown From**: [termination](https://github.com/bus-stop/Termination) package 0.7.6

### Stack Trace

Uncaught Error: Cannot find module '../src/term'
Require stack:
- C:\Users\necat\.atom\packages\termination\node_modules\term.js\lib\index.js
- C:\Users\necat\.atom\packages\ter

[2021-09-01 09:02] the-j0k3r commented on #122
Bad install or upgrade, the gremlins, =)

1. Close Atom (all instances)
1. Remove `~/.atom/packages/termination`
1. run on an external terminal `apm install termination`
1. Open Atom profit

[2021-09-01 09:02] #122 closed

[2022-03-13 10:08] the-j0k3r opened #124 "[Q] atom-space-pen-views"
In the Atom beta channel atom-space-pen-views will have deprecated calls which the terminal uses.
While Terminus is facing this issue and because of inherited security issues with atom-space-pen-views dependencies being vulnerable to attack, and because term.js also being unmaintained like the atom-space-pen-views also is, we decided to retire Terminus.

I personally dont have the time anymore to

[2022-06-03 13:35] tassosblackg opened #125 "HTMLDocument.registerElement is deprecated."
Use `customElements.define` instead of `document.registerElement` see https://javascript.info/custom-elements
[code]